{%  load staticfiles %}<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Theme color (Only Chrome Mobile)-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>Gastos | Wunderman Phantasia</title>
    <meta name="description" content="Wunderman Phantasia | Gastos">
    <meta name="keywords" content="Wunderman, Phantasia">
    <meta name="author" content="Team Wunderman Phantasia">
    <meta name="copyright" content="© Wunderman Phantasia">
    <meta name="theme-color" content="#00358e">
    <meta name="msapplication-navbutton-color" content="#00358e">
    <!--Favicon-->
    <link rel="shortcut icon" sizes="16x16 32x32" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"><!--[if lte IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-XXXXXXXX-X', 'auto');
          ga('send', 'pageview');
      
    </script>
  </head>
  <body>
    <div id="wunderman">
      <input id="identify" type="hidden" data-controller="errorPage" data-action="">
      <input type="checkbox" id="goMenu">
      <header id="wunderman__header">
        <div class="header__container">
          <nav class="header__container__navigate">
            <div class="header__image"><a class="linkLogo" href="http://www.wundermanphantasia.pe/" target="_self"><img class="logo" src="{% static 'images/wunderman__menu.svg' %}" alt="Wunderman"></a></div>
          </nav>
        </div>
      </header>
      <section id="errorPage">
        <div class="wunderman__boxcontainer">
          <div class="wunderman__text">
            <div class="wunderman__title">
              <h3 class="weAreLookingFor">Parece que no podemos encontrar<br>la página que estás buscando</h3>
              <h1 class="errorPage">404</h1>
            </div>
          </div>
        </div>
      </section>
      <footer id="wunderman__footer">
        <div class="footer__container">
          <div class="footer__container__row">
            <div class="footer__container__box"><img class="logo" src="{% static 'images/wunderman__footer.svg' %}" alt="Wunderman"></div>
            <div class="footer__container__box">
              <p class="text ib ib--middle">A member of WPP Group. <a class="privacy" href="http://www.wunderman.com/privacy-policy" target="_blank">Privacy statement</a></p>
              <p class="text ib ib--middle">&copy; 2017 Wunderman Phantasia. All Rights Reserved.</p>
            </div>
            <div class="footer__container__box">
                    <div class="socialNetworks"><a class="wunderman__twitter" href="https://twitter.com/WunPhantasia" target="_blank"><img class="imgrs" src="{% static 'images/social-networks/twitter-icon.svg' %}"></a><a class="wunderman__facebook" href="https://www.facebook.com/WundermanPhantasia" target="_blank"><img class="imgrs" src="{% static 'images/social-networks/facebook-icon.svg' %}"></a><a class="wunderman__youtube" href="https://www.youtube.com/user/PhantasiaChannel" target="_blank"><img class="imgrs" src="{% static 'images/social-networks/youtube-icon.svg' %}"></a><a class="wunderman__linkedin" href="https://www.linkedin.com/company/phantasia" target="_blank"><img class="imgrs" src="{% static 'images/social-networks/linkedin-icon.svg' %}"></a></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- jQuery libraries-->
    <script src="{% static 'js/vendor/vendor_all.js' %}" type="text/javascript"></script>
    <!-- Compiled applications.js-->
    <script src="{% static 'js/bundle.js' %}"></script>
  </body>
</html>