{% load static %}<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ TITLE }}</title>
    <meta name="description" content="{{ DESCRIPTION }}">
    <meta name="keywords" content="{{ KEYWORDS }}">
    <meta name="author" content="{{ AUTHOR }}">
    <!-- Theme color (Only Chrome Mobile)-->
    <meta name="theme-color" content="#D7006D">
    <!-- Facebook meta tags-->
    <meta property="og:title" content="{{ SHARE_TITLE }}">
    <meta property="og:description" content="{{ SHARE_DESCRIPTION }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ BASE_URL }}">
    <meta property="og:image" content="{{ BASE_URL }}{% static 'images/Facebook.jpg' %}">
    <!-- Twitter meta tags-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ SHARE_TITLE }}">
    <meta name="twitter:description" content="{{ SHARE_DESCRIPTION }}">
    <meta name="twitter:image" content="{{ BASE_URL }}{% static 'images/Facebook.jpg' %}">
    <meta name="twitter:image:width" content="1200">
    <meta name="twitter:image:height" content="630">
    <!--Favicon-->
    <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static 'images/apple-touch-icon-iphone.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'images/apple-touch-icon-ipad.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'images/apple-touch-icon-iphone@2x.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'images/apple-touch-icon-ipad@2x.png' %}">
    <!--Canonical-->
    <link rel="canonical" href="{{ BASE_URL }}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo+2:400,600,700|Roboto:400,700">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-W7NXZWH');
    </script>
    <!-- End Google Tag Manager--><!--[if lte IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
    <![endif]-->
    <script type="application/ld+json">
      {
      	"@context": "http://www.schema.org",
      	"@type":    "WebSite",
      	"name":     "{{ TITLE }}",
      	"alternateName": "{{ DESCRIPTION }}",
      	"url":      "{{ BASE_URL }}"
      }
      
    </script>
    <script>
      var $buoop = {vs:{i:9,f:-4,o:-4,s:7,c:-4},c:4};
      function $buo_f(){
      	var e = document.createElement("script");
      	e.src = "//browser-update.org/update.min.js";
      	document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}
      
      
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      	ga('create', 'UA-XXXXXXXX-X', 'auto');
      	ga('send', 'pageview');
    </script>
    <script src="https://www.google.com/recaptcha/api.js?render=6LcW76AUAAAAAEZ3EjeKwFbaLqSNRDMc-BSojiB8"></script>
  </head>
  <body>
    <input id="identify" type="hidden" data-controller="home" data-action="">
    <!-- Google Tag Manager (noscript)-->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W7NXZWH" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript)-->
    <div id="miradas__header">
      <div class="header__redes">
        <div class="content_redes">
          <h5>Síguenos en:</h5>
          <div class="content_images"><a href="https://www.facebook.com/Transforma.org.pe/"><img src="{% static 'images/facebook_icon_menu.png'%}"></a><a href="https://www.linkedin.com/company/19075381/admin/"><img src="{% static 'images/linkedin_icon_menu.png'%}"></a><a href="https://www.instagram.com/transformaong/?hl=es-la"><img src="{% static 'images/instagram_icon_menu.png'%}"></a></div>
        </div>
      </div>
    </div>
    <main>
      <div class="content_logo"><img class="img-profile" src="{% static 'images/logotipo_Miradas_menu.png' %}"></div>
    </main>
    <header id="header-menu">
      <nav><a class="home" href="#" id="inicio">Inicio</a><a class="programa" href="#" id="programa">Programa</a><a class="ponentes" href="#" id="ponentes">Ponentes</a><a class="inscribete" href="#" id="inscripcion">Inscripción</a></nav>
    </header>
    <div class="bg"><img class="img-desk" src="{% static 'images/bg.jpg' %}"><img class="img-movil" src="{% static 'images/bg_movil.jpg' %}"></div>
    <div class="container"> 
      <div id="miradas_home">
        <div class="description">
          <h3><b> Miradas - I Congreso Internacional sobre Calidad Educativa en la Primera Infancia</b> tiene como objetivo reunir a la comunidad educativa para analizar la situación actual de la educación inicial, identificar prácticas y casos de éxito que puedan extrapolarse a diversos contextos y promover una reflexión sobre la importancia de asegurar la calidad en esta etapa educativa.    </h3>
        </div>
        <div class="content_calendar">
          <div class="date" style="border-right: 1px solid #D7D7D7;"> <img src="{% static 'images/calendario22.png' %}"><span>Lugar:
              <p>Auditorio </p>
              <p>Fundación Telefónica</p></span></div>
          <div class="date">  <img src="{% static 'images/calendario23.png' %}"><span>Lugar: 
              <p>BTH - San Borja <br> UPAL - Chorrillos</p></span></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="container_schedule">
        <h3>Programa</h3>
        <div class="content_schedule"> 
          <p class="title">DÍA 1 - Conferencias/ 22 de mayo </p>
          <p class="subtitle-schedule">Auditorio Fundación Telefónica</p>
          <div class="content_info">
            <div class="description">
              <div class="hour1 column">
                <h5>Registro de participantes</h5>
              </div>
              <div class="hour2 column">
                <h5>Bienvenida a los participantes</h5>
                <div class="content_description">
                  <div class="title">Video de bienvenida con palabras de</div>
                  <div class="text"> 
                    <p>Mika Koskinen, embajador de Finlandia.</p>
                    <p>Fiorella de Ferrari, cofundadora de la ONG TRANSFORMA. </p>
                    <p>Ariel Fiszbein, director del Programa de Educación, Diálogo Interamericano.</p>
                    <p>Ana de Mendoza, representante de UNICEF en Perú.</p>
                  </div>
                  <div class="title">Palabras de bienvenida </div>
                  <div class="text"> 
                    <p>Maribel Diaz Cabello, Primera Dama (por confirmar).</p>
                  </div>
                </div>
              </div>
              <div class="hour3 column">
                <h5>PARTE 1: ¿POR QUÉ INVERTIR EN CALIDAD EDUCATIVA EN LA PRIMERA INFANCIA? </h5>
                <div class="content_description">
                  <div class="title">Keynote Speaker:</div>
                  <div class="text">
                    <p>Mauricio Cárdenas, exministro de Hacienda de Colombia</p>
                  </div>
                  <div class="title">Panel</div>
                  <div class="text"> 
                    <p>Adriana Delpiano, exministra de Educación Chile.</p>
                    <p>Ricardo Bucio, secretario ejecutivo del Sistema Integral de Protección de Niñas, Niños y Adolescentes (SIPINNA), México.</p>
                    <p>Patricia Andrade, viceministra de Gestión Pedagógica del MINEDU (por confirmar).</p>
                    <p>Ariela Luna, viceministra de Políticas y Evaluación del MIDIS (por confimar)</p>
                  </div>
                  <div class="title">Moderador</div>
                  <div class="text"> 
                    <p> Cesar Guadalupe, Presidente del Consejo Nacional de Educación </p>
                  </div>
                </div>
              </div>
              <div class="hour4 column">
                <h5>Coffee Break  </h5>
              </div>
              <div class="hour5 column">
                <h5>PARTE 2: ¿CÓMO PROMOVEMOS APRENDIZAJES DE CALIDAD EN LA PRIMERA INFANCIA?</h5>
                <div class="content_description">
                  <div class="title">Keynote Speakers:</div>
                  <div class="text">
                    <p>Claudia Giudici, Presidente de Reggio Children.</p>
                    <p>Mirjam Kalland, catedrática de Educación Infantil Temprana en la Universidad de Helsinki.</p>
                  </div>
                </div>
              </div>
              <div class="hour6 column">
                <h5>Almuerzo Libre</h5>
              </div>
              <div class="hour7 column">
                <h5>PARTE 2: ¿CÓMO PROMOVEMOS APRENDIZAJES DE CALIDAD EN LA PRIMERA INFANCIA?</h5>
                <div class="content_description">
                  <div class="title">Keynote Speakers:</div>
                  <div class="text">
                    <p>Lesley Holst, directora de Aprendizaje a Través del Juego en la Primera Infancia, Fundación LEGO.</p>
                  </div>
                  <div class="title">Conversatorio</div>
                  <div class="text">
                    <p>Preguntas y respuestas. Claudia Giudici, Mirjam Kalland y Sarah Bouchie.</p>
                  </div>
                  <div class="title">Moderadora</div>
                  <div class="text">
                    <p>Fiorella de Ferrari, cofundadora de la ONG TRANSFORMA.</p>
                  </div>
                </div>
              </div>
              <div class="hour8 column">
                <h5>PARTE 3: EXPERIENCIAS Y PERSPECTIVAS DESDE LA REGION</h5>
                <div class="content_description">
                  <div class="title">Panelista</div>
                  <div class="text">
                    <p>Antonio Rizzoli, Jefe de la Unidad de investigación en Neurodesarrollo del hospital Infantil de Mexico Federico Gomez  </p>
                    <p>Leonardo Yanez, Oficial de Programas para Amèrica Latina de la Fundación Bernard Van Leer (Holanda)  </p>
                    <p>Maria Jose Castro Rojas, Subsecretaria de Educación Parvularia, Ministerio de Educación de Chile</p>
                    <p>Fernando Bolaños, Oficial de Educación de UNICEF en Perú</p>
                  </div>
                  <div class="title">Moderador</div>
                  <div class="text">
                    <p>Ariel Fiszbein, director del Programa de Educación Diálogo Interamericano.</p>
                  </div>
                </div>
              </div>
              <div class="hour9 column">
                <h5>PARTE 4: LAS EXPERIENCIAS EN PERú</h5>
                <div class="content_description">
                  <div class="title">Panelista</div>
                  <div class="text">
                    <p>César Guadalupe, presidente del Consejo Nacional de Educación del Perú </p>
                    <p>Fiorella de Ferrari, cofundadora de la ONG TRANSFORMA.      </p>
                    <p>Ministerio de educación</p>
                    <p>Santiago Cueto, investigador principal de GRADE</p>
                  </div>
                  <div class="title">Moderador</div>
                  <div class="text">
                    <p>Ariel Fiszbein, director del Programa de Educación Diálogo Interamericano</p>
                  </div>
                </div>
              </div>
              <div class="hour10 column">
                <h5>CIERRE DEL EVENTO </h5>
                <div class="content_description">
                  <div class="text">
                    <p>Flor Pablo, ministra de Educación del Perú (por confirmar).</p>
                    <p>Paola Bustamante, ministra de Desarrollo e Inclusión Social del Perú (por confirmar).</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="content_schedule"> 
          <p class="title">DÍA 2 / 23 de mayo </p>
          <p class="subtitle-schedule">BTH - San Borja <br> UPAL - Chorrillos</p>
          <div class="content_info">
            <div class="description">
              <div class="hour2 column">
                <h5>Registro de participantes y café</h5>
              </div>
              <div class="hour3 column">
                <h5>TALLERES      </h5>
                <div class="content_description">
                  <h4 class="titlet" style="padding-top: 0;padding-bottom: 0;margin:0;">Generando interacciones de calidad en el aula (50 participantes)</h4>
                  <p class="subtitle">- Miluska Huamani, ONG Tranforma</p>
                  <h4 class="titlet" style="padding-top: 15px; padding-bottom: 0;margin:0;">El ambiente como un tercer maestro* (60 participantes en UPAL)</h4>
                  <p class="subtitle">- Barbara Quinti, Reggio Children.</p>
                  <h4 class="titlet" style="padding-top: 15px; padding-bottom: 0;margin:0;">MELQO: medición de la calidad y los resultados de aprendizaje en la educación inicial" con la participación de la OSEE (aplicación del MELQO en Perú).</h4>
                  <p class="subtitle">- Magdalena Bendini, Banco Mundial.</p>
                  <h4 class="titlet" style="padding-top: 15px; padding-bottom: 0;margin:0;">De la medición a la práctica: experiencia de Colombia (50 participantes).</h4>
                  <p class="subtitle">- Carolina Maldonado y Eduardo Escallón, Universidad de Los Andes.</p>
                  <h4 class="titlet" style="padding-top: 15px; padding-bottom: 0;margin:0;">El aprendizaje basado en el juego y el rol de los padres (60 participantes)</h4>
                  <p class="subtitle">- Brenda Campos, The Sesame Workshop.</p>
                  <h4 class="titlet" style="padding-top: 15px; padding-bottom: 0;margin:0;">Implementando aulas con bajos recursos a través del reciclaje (60 participantes).</h4>
                  <p class="subtitle">- María Adelaída López, AEIOTU.</p>
                  <h4 class="titlet" style="padding-top: 15px; padding-bottom: 0;margin:0;">La importancia del juego en el aula (50 participantes). </h4>
                  <p class="subtitle">- Ragnar Behncke, Social Map Chile.</p>
                  <h6>*sesiones se extenderán hasta las 12:00</h6>
                </div>
              </div>
              <div class="hour11 column">
                <h5>Almuerzo Libre </h5>
              </div>
              <div class="hour12 column">
                <h5>TALLERES</h5>
                <div class="content_description">
                  <h4 class="titlet" style="padding-top: 0;padding-bottom: 0;margin:0;">Generando interacciones de calidad en el aula* (50 participantes en UPAL)</h4>
                  <p class="subtitle">- Miluska Huamaní, ONG Transforma. </p>
                  <h4 class="titlet" style="padding-top: 15px; padding-bottom: 0;margin:0;">El apego y el desarrollo de habilidades sociales y emocionales en la primera infancia (50 participantes).</h4>
                  <p class="subtitle">Mirjam Kalland, Catedrática de Educación Infantil Temprana, Universidad de Helsinki </p>
                  <h4 class="titlet" style="padding-top: 15px; padding-bottom: 0;margin:0;">El rol del arte en la educación inicial y en la salud emocional (60 participantes).</h4>
                  <p class="subtitle">- Georgina Santibañez, El Pez en la Luna</p>
                  <h4 class="titlet" style="padding-top: 15px; padding-bottom: 0;margin:0;">*Necesidades especiales en la educación inicial (40 participantes).</h4>
                  <p class="subtitle">- UNICEF</p>
                  <h4 class="titlet" style="padding-top: 15px; padding-bottom: 0;margin:0;">*Cómo diseñar y gestionar espacios urbanos amigables para la primera infancia (50 participantes).</h4>
                  <p class="subtitle">- Vanessa Lainez, Fundación van Leer.</p>
                  <h4 class="titlet" style="padding-top: 15px; padding-bottom: 0;margin:0;">Aprendiendo a resolver y a racionalizar a través del juego (60 participantes)</h4>
                  <p class="subtitle">- Nicolangelo Pelosi. Bricks 4 Kidz</p>
                  <h4 class="titlet" style="padding-top: 15px; padding-bottom: 0;margin:0;">Matemáticas para Todos (MPT). Cómo fomentar las capacidades matemáticas de niños de 4-5 años (50 participantes)</h4>
                  <p class="subtitle">- Lucía Vilchez, Especialista de educación Inicial del Instituto Apoyo.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="container_speakers">
      <h3 id="inscribete">Ponentes</h3>
      <div class="content_speakers">   
        <div class="slick-carousel">
          <div class="slide-content"> 
            <div class="speakers"><img src="{% static 'images/Claudia-Giudici.png' %}">
              <article>
                <h3>Claudia Giudici</h3>
                <p>Presidente de Reggio Children    </p>
              </article>
            </div>
          </div>
          <div class="slide-content"> 
            <div class="speakers"><img src="{% static 'images/Lesley_Holst.png' %}">
              <article>
                <h3>Lesley Holst</h3>
                <p>Directora de Aprendizaje a Través del Juego en la Primera Infancia, Fundación LEGO </p>
              </article>
            </div>
          </div>
          <div class="slide-content"> 
            <div class="speakers"><img src="{% static 'images/Mirjam_Kalland.png' %}">
              <article>
                <h3>Mirjam Kalland</h3>
                <p>Catedrática de Educación Infantil Temprana, Universidad de Helsinki </p>
              </article>
            </div>
          </div>
          <div class="slide-content"> 
            <div class="speakers"><img src="{% static 'images/Mauricio_Cardenas.png' %}">
              <article>
                <h3>Mauricio Cárdenas</h3>
                <p>Exministro de Hacienda de Colombia  </p>
              </article>
            </div>
          </div>
          <div class="slide-content"> 
            <div class="speakers"><img src="{% static 'images/Barbara_Quinti.png' %}">
              <article>
                <h3>Barbara Quinti </h3>
                <p>Reggio Emilia                                          </p>
              </article>
            </div>
          </div>
          <div class="slide-content"> 
            <div class="speakers"><img src="{% static 'images/Mika_Koskinen.png' %}">
              <article>
                <h3>Mika Koskinen</h3>
                <p>Embajador de Finlandia</p>
              </article>
            </div>
          </div>
          <div class="slide-content"> 
            <div class="speakers"><img src="{% static 'images/Fiorella_de_Ferrari.png' %}">
              <article>
                <h3>Fiorella de Ferrari</h3>
                <p>Cofundadora de Transforma</p>
              </article>
            </div>
          </div>
          <div class="slide-content"> 
            <div class="speakers"><img src="{% static 'images/Magdalena_Bendidi.png' %}">
              <article>
                <h3>Magdalena Bendini</h3>
                <p>Banco Mundial</p>
              </article>
            </div>
          </div>
          <div class="slide-content"> 
            <div class="speakers"><img src="{% static 'images/Ariel_Fiszbein.png' %}">
              <article>
                <h3>Ariel Fiszbein</h3>
                <p>Director de Educación de Dialogo Interamericano</p>
              </article>
            </div>
          </div>
          <div class="slide-content"> 
            <div class="speakers"><img src="{% static 'images/Carolina_Maldonado.png' %}">
              <article>
                <h3>Carolina Maldonado</h3>
                <p>Universidad de los Andes</p>
              </article>
            </div>
          </div>
          <div class="slide-content"> 
            <div class="speakers"><img src="{% static 'images/Ana_de_Mendoza.png' %}">
              <article>
                <h3>Ana de Mendoza</h3>
                <p>Representante de Perú UNICEF</p>
              </article>
            </div>
          </div>
          <div class="slide-content"> 
            <div class="speakers"><img src="{% static 'images/Eduardo_Escallon.png' %}">
              <article>
                <h3>Eduardo Escallon</h3>
                <p>Universidad de los Andes</p>
              </article>
            </div>
          </div>
          <div class="slide-content"> 
            <div class="speakers"><img src="{% static 'images/Adriana_Delpiano.png' %}">
              <article>
                <h3>Adriana Delpiano</h3>
                <p>Exministra de Educación de Chile</p>
              </article>
            </div>
          </div>
          <div class="slide-content"> 
            <div class="speakers"><img src="{% static 'images/Brenda_Campos.png' %}">
              <article>
                <h3>Brenda Campos</h3>
                <p>The Sesame Workshop.</p>
              </article>
            </div>
          </div>
          <div class="slide-content"> 
            <div class="speakers"><img src="{% static 'images/Maria_Adelaida_Lopez.png' %}">
              <article>
                <h3>María Adelaida Lopez</h3>
                <p>AEIOtu</p>
              </article>
            </div>
          </div>
          <div class="slide-content"> 
            <div class="speakers"><img src="{% static 'images/Ricardo_Buccio.png' %}">
              <article>
                <h3>Ricardo Bucio</h3>
                <p>Secretario ejecutivo del Sistema Integral de Protección de Niñas, Niños y Adolescentes (SIPINNA) de México </p>
              </article>
            </div>
          </div>
          <div class="slide-content"> 
            <div class="speakers"><img src="{% static 'images/Antonio_Rizzoli.png' %}">
              <article>
                <h3>Antonio Rizzoli</h3>
                <p>Jefe de la Unidad de Investigación en Neurodesarrollo en el Hospital Infantil de México Federico Gómez. </p>
              </article>
            </div>
          </div>
          <div class="slide-content"> 
            <div class="speakers"><img src="{% static 'images/Leonardo_Yanez.png' %}">
              <article>
                <h3>Leonardo Yanez</h3>
                <p>Oficial de programas para América Latina de la Fundación Bernard Van Leer Holanda </p>
              </article>
            </div>
          </div>
          <div class="slide-content"> 
            <div class="speakers"><img src="{% static 'images/Ragnar_Behncke.png' %}">
              <article>
                <h3>Ragnar Behncke </h3>
                <p>Laboratorio Lúdico</p>
              </article>
            </div>
          </div>
          <div class="slide-content"> 
            <div class="speakers"><img src="{% static 'images/Miluska_Huamani.png' %}">
              <article>
                <h3>Miluska Huamani </h3>
                <p>ONG Transforma      </p>
              </article>
            </div>
          </div>
          <div class="slide-content"> 
            <div class="speakers"><img src="{% static 'images/Maria_Jose_Castro.png' %}">
              <article>
                <h3>María Jose Castro</h3>
                <p>Subsecretaria de Educación Parvularia, Ministerio de Educación de Chile </p>
              </article>
            </div>
          </div>
          <div class="slide-content"> 
            <div class="speakers"><img src="{% static 'images/Fernando_Bolanos.png' %}">
              <article>
                <h3>Fernando Bolaños</h3>
                <p>Oficial de Educación de UNICEF</p>
              </article>
            </div>
          </div>
          <div class="slide-content"> 
            <div class="speakers"><img src="{% static 'images/Cesar_Guadalupe.png' %}">
              <article>
                <h3>Cesar Guadalupe</h3>
                <p>Presidente del Consejo Nacional de Educación del Perú                                  </p>
              </article>
            </div>
          </div>
          <div class="slide-content"> 
            <div class="speakers"><img src="{% static 'images/Santiago_Cueto.png' %}">
              <article>
                <h3>Santiago Cueto</h3>
                <p>Miembro del Consejo Nacional de Educación del Perú       </p>
              </article>
            </div>
          </div>
        </div>
      </div>
      <div class="content_download">
        <div class="download"><img src="{% static 'images/download.png' %}"><a href="{% static 'images/conferencistas.pdf' %}" target="_blank">DESCARGAR
            <p>INFORMACIÓN DE PONENTES </p></a></div>
      </div>
    </div>
    <div class="container">
      <div id="container_register"> 
        <h3>Inscríbete</h3>
        <div class="content_register">
          <div class="step" style="border-right: 1px solid #D7D7D7;"> <img src="{% static 'images/iconopaso1.png' %}">
            <h2>PASO 1</h2>
            <p><b>Hacer efectivo el pago</b> de inscripción vía depósito al siguiente número de cuenta.</p>
            <p class="alternativo">Make the inscription payment to the following bank account.</p>
          </div>
          <div class="step" style="border-right: 1px solid #D7D7D7;">   <img src="{% static 'images/iconopaso2.png' %}">
            <h2>PASO 2</h2>
            <p><b>Escanea</b> tu voucher o tómale una foto, luego regístrate y adjunta tu comprobante realizado.</p>
            <p class="alternativo">Scan or take a photo of your voucher, sign up and attach it.</p>
          </div>
          <div class="step">   <img src="{% static 'images/iconopaso3.png' %}">
            <h2>PASO 3</h2>
            <p><b>Recibirás</b> la llamada de nuestro asesor.</p>
            <p class="alternativo">You will receive a call from our assessor</p>
          </div>
        </div>
        <p class="account"><b>N.º cuenta BCP : 193 - 2346807019</b> (Consultora Educativa Transforma)</p>
        <p class="price">Donación: S/ 130.00 (por persona)</p>
      </div>
    </div>
    <div id="container_form">
      <div class="container">
        <div class="content_form">
          <p>Completa el siguiente formulario y adjunta el comprobante del depósito realizado.</p>
          <div id="form">
            <form id="participant" method="post">
              <div class="content-input">
                <div class="icon"></div>
                <input type="text" placeholder="Nombres y apellidos" id="name" name="name" maxlength="90" required>
              </div>
              <div class="content-input">
                <div class="icon"></div>
                <input type="text" placeholder="N.º DNI / C.E. / Pasaporte" id="document" name="document" maxlength="16">
              </div>
              <div class="content-input">
                <div class="icon"></div>
                <input type="tel" placeholder="Número de teléfono" id="phone" name="phone" maxlength="9">
              </div>
              <div class="content-input">
                <div class="icon"></div>
                <input type="text" placeholder="Empresa" id="company" name="company" maxlength="60">
              </div>
              <div class="content-input">
                <div class="icon"></div>
                <input type="text" placeholder="Cargo" id="position" name="position" maxlength="60">
              </div>
              <div class="content-input">
                <div class="icon"></div>
                <input type="email" placeholder="Correo electrónico" id="email" name="email" maxlength="80">
                <input type="hidden" id="token" name="token">
              </div>
              <div class="content-input">
                <section class="demo-file">
                  <div class="row">
                    <input type="file" data-jcf="{&quot;buttonText&quot;: &quot;ADJUNTAR&quot;, &quot;placeholderText&quot;: &quot;Adjuntar comprobante de depósito&quot;}" id="voucher" name="voucher">
                  </div>
                </section>
              </div>
              <div class="content-input">
                <input type="button" id="submit" value="Enviar">
              </div>
              <div id="resultDiv"></div>
            </form>
          </div>
        </div>
      </div>
      <script type="text/javascript">
        grecaptcha.ready(function () {
            grecaptcha.execute('6LcW76AUAAAAAEZ3EjeKwFbaLqSNRDMc-BSojiB8', {action: 'homepage'}).then(function (token) {
                $('#token').val(token);
            });
        });
      </script>
    </div>
    <div class="container">
      <div id="container_logo">
        <div class="content_logo">
          <h3>Organizan:</h3>
          <div class="organizes"><img src="{% static 'images/Trasnforma_logo.png' %}"><img src="{% static 'images/Embajada_Finlandia_logo.png' %}"></div>
          <h3>Con el apoyo de:</h3>
          <div class="support"> <img src="{% static 'images/Dialogo_Interameicano_logo.png' %}"><img src="{% static 'images/Unicef_logo.png' %}"></div>
          <h3>Auspiciado por:</h3>
          <div class="auspice"><img src="{% static 'images/Telefonica_Fundacion.png' %}"><img src="{% static 'images/Embajada_Italia_logo.png' %}"><img src="{% static 'images/IIC_logo.png' %}"><img src="{% static 'images/Minsur_logo.png' %}"><img src="{% static 'images/Dinamica_logo.png' %}"><img src="{% static 'images/RedSolare_logo.png' %}"><img src="{% static 'images/apejo.jpg' %}"><img src="{% static 'images/iniciativa.png' %}"><img src="{% static 'images/logo_nuevo.jpg' %}" style="width: 100px;"></div>
        </div>
      </div>
    </div>
    <footer id="miradas__footer">
      <div class="container">
        <div class="footer__container">
          <div class="footer__container__option"><a class="home" href="#">Inicio</a><a class="programa" href="#">Programa</a><a class="ponentes" href="#">Ponentes</a><a class="inscribete" href="#">Inscripción</a></div>
          <div class="footer__container__logo"><img src="{% static 'images/logotipo_footer.png'%} "></div>
          <div class="footer__container__contact">
            <h5 style="margin-bottom: 2px;">Contacto: </h5>
            <h5>Correo: <span>informes@miradas.com.pe </span></h5>
            <h5>Teléfono: <span>(01) 6275690</span></h5>
            <h5 style="margin: 9px 0 5px;">Síguenos en:</h5>
            <div class="redes"><a href="https://www.facebook.com/Transforma.org.pe/"><img src="{% static 'images/fb_footer.png'%}" alt=""></a><a href="https://www.linkedin.com/company/19075381/admin/"><img src="{% static 'images/linkedin_footer.png'%}" alt=""></a><a href="https://www.instagram.com/transformaong/?hl=es-la"><img src="{% static 'images/instagram_footer.png'%}" alt=""></a></div>
          </div>
        </div>
      </div>
    </footer>
    <!-- jQuery Librerias-->
    <script src="{% static 'js/vendor/vendor_all.js' %}" type="text/javascript"></script>
    <!-- Compilado de application.js-->
    <script src="{% static 'js/bundle.js' %}"></script>
  </body>
</html>