{%  load staticfiles %}<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Theme color (Only Chrome Mobile)-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>Gastos | Wunderman Phantasia</title>
    <meta name="description" content="Wunderman Phantasia | Gastos">
    <meta name="keywords" content="Wunderman, Phantasia">
    <meta name="author" content="Team Wunderman Phantasia">
    <meta name="copyright" content="© Wunderman Phantasia">
    <meta name="theme-color" content="#00358e">
    <meta name="msapplication-navbutton-color" content="#00358e">
    <!--Favicon-->
    <link rel="shortcut icon" sizes="16x16 32x32" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"><!--[if lte IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-XXXXXXXX-X', 'auto');
          ga('send', 'pageview');
      
    </script>
  </head>
  <body>
    <div id="wunderman">
      <input id="identify" type="hidden" data-controller="formMobility" data-action="">
      <input type="checkbox" id="goMenu">
      <header id="wunderman__header">
        <div class="header__container">
          <nav class="header__container__navigate">
            <div class="header__image"><a class="linkLogo" href="http://www.wundermanphantasia.pe/" target="_self"><img class="logo" src="{% static 'images/wunderman__menu.svg' %}" alt="Wunderman"></a></div>
          </nav>
        </div>
      </header>
      <section id="mobility_form">
        <div class="wunderman__boxcontainer">
          <div class="wunderman__boxcontainer__form">
            <!--.wunderman__form__referenceh3.reference GASTOS DE MOVILIDAD
            -->
            <div class="wunderman__form__container">
              <form class="wunderman__form" enctype="multipart/form-data" method="post">
                <div class="wunderman__form__controls">{% csrf_token %}
                  <div class="wunderman__form__controls__block">
                    <label>Empleado</label>
                    <div>{{ form.employee }}
                      <div class="dropDownSelect2"></div>
                    </div><span class="focus-animate"></span>
                  </div>
                  <div class="wunderman__form__controls__block">
                    <label>Proyecto</label>{{ form.project }}<span class="focus-animate"></span>
                  </div>
                  <div class="wunderman__form__controls__block child_margin_bottom">
                    <label>Origen</label>
                    <div class="select-container">{{ form.origin }}
                      <div class="dropDownSelect2"></div>
                    </div><span class="focus-animate"></span>
                    <input class="input_custom" placeholder="Ingresa el origen" disabled name="origin" style="display:none" autocomplete="off"><span class="focus-animate"></span><a id="link_origin" data-checked="false" data-type="origen">¿No encontraste tu origen?</a>
                  </div>
                  <div class="wunderman__form__controls__block child_margin_bottom">
                    <label>Destino</label>
                    <div class="select-container">{{ form.destiny }}
                      <div class="dropDownSelect2"></div>
                    </div><span class="focus-animate"></span>
                    <input class="input_custom" placeholder="Ingresa el destino" disabled name="destiny" style="display:none" autocomplete="off"><span class="focus-animate"></span><a id="link_destiny" data-checked="false" data-type="destino">¿No encontraste tu destino?</a>
                  </div>
                  <div class="wunderman__form__controls__block child_one validate-input">
                    <label>Fecha</label>{{ form.date }}<span class="focus-animate"></span>
                    <div class="hidden" style="display:none">
                      <input type="text" id="date">
                      <input type="text" id="time">
                    </div>
                    <div id="outlet"></div>
                  </div>
                  <div class="wunderman__form__controls__block child_two validate-input">
                    <label>Monto</label>{{ form.amount }}<span class="focus-animate"></span>
                  </div>
                  <div class="wunderman__form__controls__block validate-input">
                    <label>Descripción</label>{{ form.description }}<span class="focus-animate"></span>
                  </div>
                </div>
                <div class="wunderman__form__button"><span class="sendData ib">REGISTRAR</span></div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <footer id="wunderman__footer">
        <div class="footer__container">
          <div class="footer__container__row">
            <div class="footer__container__box"><img class="logo" src="{% static 'images/wunderman__footer.svg' %}" alt="Wunderman"></div>
            <div class="footer__container__box">
              <p class="text ib ib--middle">A member of WPP Group. <a class="privacy" href="http://www.wunderman.com/privacy-policy" target="_blank">Privacy statement</a></p>
              <p class="text ib ib--middle">&copy; 2017 Wunderman Phantasia. All Rights Reserved.</p>
            </div>
            <div class="footer__container__box">
                    <div class="socialNetworks"><a class="wunderman__twitter" href="https://twitter.com/WunPhantasia" target="_blank"><img class="imgrs" src="{% static 'images/social-networks/twitter-icon.svg' %}"></a><a class="wunderman__facebook" href="https://www.facebook.com/WundermanPhantasia" target="_blank"><img class="imgrs" src="{% static 'images/social-networks/facebook-icon.svg' %}"></a><a class="wunderman__youtube" href="https://www.youtube.com/user/PhantasiaChannel" target="_blank"><img class="imgrs" src="{% static 'images/social-networks/youtube-icon.svg' %}"></a><a class="wunderman__linkedin" href="https://www.linkedin.com/company/phantasia" target="_blank"><img class="imgrs" src="{% static 'images/social-networks/linkedin-icon.svg' %}"></a></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- jQuery libraries-->
    <script src="{% static 'js/vendor/vendor_all.js' %}" type="text/javascript"></script>
    <!-- Compiled applications.js-->
    <script src="{% static 'js/bundle.js' %}"></script>
  </body>
</html>