{% load static %}<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ TITLE }}</title>
    <meta name="description" content="{{ DESCRIPTION }}">
    <meta name="keywords" content="{{ KEYWORDS }}">
    <meta name="author" content="{{ AUTHOR }}">
    <!-- Theme color (Only Chrome Mobile)-->
    <meta name="theme-color" content="#D7006D">
    <!-- Facebook meta tags-->
    <meta property="og:title" content="{{ SHARE_TITLE }}">
    <meta property="og:description" content="{{ SHARE_DESCRIPTION }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ BASE_URL }}">
    <meta property="og:image" content="{{ BASE_URL }}{% static 'images/Facebook.jpg' %}">
    <!-- Twitter meta tags-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ SHARE_TITLE }}">
    <meta name="twitter:description" content="{{ SHARE_DESCRIPTION }}">
    <meta name="twitter:image" content="{{ BASE_URL }}{% static 'images/Facebook.jpg' %}">
    <meta name="twitter:image:width" content="1200">
    <meta name="twitter:image:height" content="630">
    <!--Favicon-->
    <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static 'images/apple-touch-icon-iphone.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'images/apple-touch-icon-ipad.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'images/apple-touch-icon-iphone@2x.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'images/apple-touch-icon-ipad@2x.png' %}">
    <!--Canonical-->
    <link rel="canonical" href="{{ BASE_URL }}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo+2:400,600,700|Roboto:400,700">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-W7NXZWH');
    </script>
    <!-- End Google Tag Manager--><!--[if lte IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
    <![endif]-->
    <script type="application/ld+json">
      {
      	"@context": "http://www.schema.org",
      	"@type":    "WebSite",
      	"name":     "{{ TITLE }}",
      	"alternateName": "{{ DESCRIPTION }}",
      	"url":      "{{ BASE_URL }}"
      }
      
    </script>
    <script>
      var $buoop = {vs:{i:9,f:-4,o:-4,s:7,c:-4},c:4};
      function $buo_f(){
      	var e = document.createElement("script");
      	e.src = "//browser-update.org/update.min.js";
      	document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}
      
      
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      	ga('create', 'UA-XXXXXXXX-X', 'auto');
      	ga('send', 'pageview');
    </script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
  </head>
  <body>
    <input id="identify" type="hidden" data-controller="notFound" data-action="">
    <!-- Google Tag Manager (noscript)-->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W7NXZWH" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript)-->
    <div class="page-wrapper">
      <div class="top-bar">
        <div class="main-menu">
          <div class="menu-container">
            <div class="content-left"><a class="menu-toggle" href="#"><span class="menu-toggle-line"></span><span class="menu-toggle-line"></span><span class="menu-toggle-line"></span></a>
              <ul class="navbar-social">
                <li><a href="https://www.lima2019.pe/en/advance-of-works"><img class="img-responsive" alt="icon-lang-en" src="{% static 'images/topbar/en.png' %}"></a></li>
                <li><a href="#"><img class="img-responsive" alt="accesibilidad-1" src="{% static 'images/topbar/dis1.png' %}"></a><i class="fa fa-caret-right color-black"></i></li>
                <li><span>
                    <button style="background: white; border: 0px; color: #6b6b6b" data-toggle="dropdown" data-hover="dropdown"><i class="fa fa-users"></i><i class="fa fa-caret-down" style="color: #000"></i></button></span></li>
                <li><a href="http://www.transparencia.gob.pe/enlaces/pte_transparencia_enlaces.aspx?id_entidad=17575&amp;id_tema=1&amp;ver=D#.XBku4npKh0t" rel="nofollow"><img alt="icon-transparencia" src="{% static 'images/topbar/portal_transparencia.png' %}"></a></li>
              </ul>
            </div>
            <div class="content-logo"><a href="https://www.lima2019.pe"><img alt="Logo Juegos Panamericanos y Parapanamericanos Lima 2019" src="{% static 'images/logo-color-lima2019.png' %}"></a></div>
            <div class="content-right">
              <ul class="links">
                <li><a href="https://www.lima2019.pe/oportunidad-laboral">Trabaja con Nosotros</a></li>
                <li><a href="https://www.lima2019.pe/voluntariado">Voluntariado</a></li>
                <li><a href="https://www.lima2019.pe/prensa">Prensa</a></li>
                <li><a href="https://www.lima2019.pe/actualidad">Actualidad</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="not-found-container">
        <div class="not-found-wrapper">
          <div class="description-container">
            <h4 class="exo2">Ruta</h4>
            <h1 class="exo2">404</h1>
            <p>¡OH NO!</p>
            <p>Parece que te saliste de la carrera</p>
            <button class="btn btn-primary font-weight-bold volver">VOLVER</button>
          </div>
          <div class="antorcha-container"><img src="{% static 'images/antorcha-min.png' %}"></div>
        </div>
      </div>
      <footer class="footer-container" style="background-color: white">
        <div class="footer-wrapper">
          <div class="footer-link-container">
            <h5><a href="https://www.lima2019.pe/juegos-lima2019">Los Juegos</a></h5>
            <div class="footer-link"><a href="https://www.lima2019.pe/panamericanos">Juegos Panamericanos</a></div>
            <div class="footer-link"><a href="https://www.lima2019.pe/parapanamericanos">Juegos Parapanamericanos</a></div>
            <div class="footer-link"><a href="https://www.lima2019.pe/milco">Milco</a></div>
            <div class="footer-link"><a href="https://www.lima2019.pe/deportes-panamericanos">Deportes Panamericanos</a></div>
            <div class="footer-link"><a href="https://www.lima2019.pe/deportes-parapanamericanos">Deportes Parapanamericanos</a></div>
            <div class="footer-link"><a href="https://www.lima2019.pe/embajadores">Embajadores</a></div>
            <div class="footer-link"><a href="https://www.lima2019.pe/legado">Legado</a></div>
            <div class="footer-link"><a href="https://www.lima2019.pe/panam-sports">Panam Sports</a></div>
            <div class="footer-link"><a href="https://www.lima2019.pe/organizaciones-paralimpicas">Organizaciones Paral&iacute;mpicas</a></div>
            <div class="footer-link"><a href="https://www.lima2019.pe/preguntas-frecuentes">Preguntas Frecuentes</a></div>
            <hr>
          </div>
          <div class="footer-link-container">
            <h5><a href="https://www.lima2019.pe/actualidad">Actualidad</a></h5>
            <div class="footer-link"><a href="https://www.lima2019.pe/noticias">Noticias</a></div>
            <div class="footer-link"><a href="https://www.lima2019.pe/newsletter">Newsletter</a></div>
            <div class="footer-link"><a href="https://www.lima2019.pe/galeria">Galer&iacute;a</a></div>
            <hr>
            <h5><a href="https://www.lima2019.pe/prensa">Prensa</a></h5>
            <div class="footer-link"><a href="https://www.lima2019.pe/alojamiento-prensa">Alojamiento para Prensa</a></div>
            <hr>
            <h5><a href="https://www.lima2019.pe/broadcast">Broadcast</a></h5>
            <hr>
          </div>
          <div class="footer-link-container">
            <h5><a href="https://www.lima2019.pe/institucional">Institucional</a></h5><a href="https://www.lima2019.pe/institucional"></a>
            <div class="footer-link"><a href="https://www.lima2019.pe/institucional"></a><a href="https://www.lima2019.pe/conocenos">Con&oacute;cenos</a></div>
            <div class="footer-link"><a href="https://www.lima2019.pe/quienes-somos">Qui&eacute;nes somos</a></div>
            <div class="footer-link"><a href="https://www.lima2019.pe/estructura-organica">Estructura Org&aacute;nica</a></div>
            <div class="footer-link"><a href="https://www.lima2019.pe/directorio-institucional">Directorio Institucional</a></div>
            <div class="footer-link"><a href="https://www.lima2019.pe/control-interno">Control Interno</a></div>
            <div class="footer-link"><a href="https://www.lima2019.pe/oportunidad-laboral">Trabaja con Nosotros</a></div>
            <div class="footer-link"><a href="https://www.lima2019.pe/declaraciones-juradas">Declaraciones Juradas</a></div>
            <div class="footer-link"><a href="https://www.lima2019.pe/transparencia">Transparencia</a></div>
            <div class="footer-link"><a href="https://www.lima2019.pe/documentos-institucionales">Documentos Institucionales</a></div>
            <div class="footer-link"><a href="https://www.lima2019.pe/marco-legal">Marco Legal</a></div>
            <div class="footer-link"><a target="_blank" href="https://midenuncia.mtc.gob.pe/denuncias/index/4">Denuncias</a></div>
            <hr>
          </div>
          <div class="footer-link-container">
            <h5><a href="https://www.lima2019.pe/contrataciones">Contrataciones</a></h5><a href="https://www.lima2019.pe/contrataciones"></a>
            <div class="footer-link"><a href="https://www.lima2019.pe/contrataciones"></a><a href="https://www.lima2019.pe/proyectos-lima2019">Proyectos de Inversi&oacute;n</a></div>
            <div class="footer-link"><a href="https://www.lima2019.pe/contrataciones/tecnologia-broadcasting">Tecnolog&iacute;a y Broadcasting</a></div>
            <div class="footer-link"><a href="https://www.lima2019.pe/contrataciones/publicidad-marketing">Publicidad, Marketing y Eventos</a></div>
            <div class="footer-link"><a href="https://www.lima2019.pe/contrataciones/infraestructura-temporal">Infraestructura Temporal</a></div>
            <div class="footer-link"><a href="https://www.lima2019.pe/contrataciones/equipamiento-deportivo">Equipamiento Deportivo</a></div>
            <div class="footer-link"><a href="https://www.lima2019.pe/contrataciones/transportes-y-servicios">Transportes</a></div>
            <div class="footer-link"><a href="https://www.lima2019.pe/contrataciones/logistica">Log&iacute;stica</a></div>
            <div class="footer-link"><a href="https://www.lima2019.pe/contrataciones/servicios-medicos">Servicios M&eacute;dicos</a></div>
            <hr>
            <h5><a href="https://lima2019panamericanos.sharepoint.com/sites/intranet" target="_blank">Intranet</a></h5>
            <hr>
            <h5><a href="https://lima2019panamericanos.sharepoint.com/sites/extranet" target="_blank">Extranet</a></h5>
            <hr>
          </div>
        </div>
        <div class="redes">
          <div class="sub-footer-social">
            <div class="exo2">Síguenos</div><a href="https://www.facebook.com/lima2019juegos" target="_blank"><i class="fab fa-facebook-f"></i></a><a href="https://www.instagram.com/lima2019juegos/" target="_blank"><i class="fab fa-instagram"></i></a><a href="https://twitter.com/Lima2019Juegos " target="_blank"><i class="fab fa-twitter"></i></a><a href="https://www.youtube.com/channel/UCcwnIFee3kfzH4-vpWqmuCQ" target="_blank"><i class="fab fa-youtube"></i></a><a href="https://pe.linkedin.com/company/lima2019juegos " target="_blank"><i class="fab fa-linkedin-in"></i></a><a href="https://www.flickr.com/photos/lima2019juegos/" target="_blank"><i class="fab fa-flickr"></i></a>
          </div>
        </div>
        <div class="copyright"><img class="img-responsive" alt="footer-icon" width="130" height="auto" src="https://d1qv7178yd07uj.cloudfront.net/multimedia/logo-lima2019-alt2.png"><span class="exo2"><span class="dash">&mdash;</span> Todos Los Derechos Reservados</span></div>
        <div class="ondas"></div>
      </footer>
    </div>
    <script>
      window.fbAsyncInit = function() {
      FB.init({
        appId            : '{{ FACEBOOK_ID }}',
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v3.2'
      });
      };
      
    </script>
    <div id="fb-root"></div>
    <script async defer src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&amp;version=v3.2&amp;appId={{ FACEBOOK_ID }}&amp;autoLogAppEvents=1" type="text/javascript"></script>
    <!-- jQuery Librerias-->
    <script src="{% static 'js/vendor/vendor_all.js' %}" type="text/javascript"></script>
    <!-- Compilado de application.js-->
    <script src="{% static 'js/bundle.js' %}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>