{% load static %}<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ TITLE }}</title>
    <meta name="description" content="{{ DESCRIPTION }}">
    <meta name="keywords" content="{{ KEYWORDS }}">
    <meta name="author" content="{{ AUTHOR }}">
    <!-- Theme color (Only Chrome Mobile)-->
    <meta name="theme-color" content="#D7006D">
    <!-- Facebook meta tags-->
    <meta property="og:title" content="{{ SHARE_TITLE }}">
    <meta property="og:description" content="{{ SHARE_DESCRIPTION }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ BASE_URL }}">
    <meta property="og:image" content="{{ BASE_URL }}{% static 'images/Facebook.jpg' %}">
    <!-- Twitter meta tags-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ SHARE_TITLE }}">
    <meta name="twitter:description" content="{{ SHARE_DESCRIPTION }}">
    <meta name="twitter:image" content="{{ BASE_URL }}{% static 'images/Facebook.jpg' %}">
    <meta name="twitter:image:width" content="1200">
    <meta name="twitter:image:height" content="630">
    <!--Favicon-->
    <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static 'images/apple-touch-icon-iphone.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'images/apple-touch-icon-ipad.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'images/apple-touch-icon-iphone@2x.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'images/apple-touch-icon-ipad@2x.png' %}">
    <!--Canonical-->
    <link rel="canonical" href="{{ BASE_URL }}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo+2:400,600,700|Roboto:400,700">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-W7NXZWH');
    </script>
    <!-- End Google Tag Manager--><!--[if lte IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
    <![endif]-->
    <script type="application/ld+json">
      {
      	"@context": "http://www.schema.org",
      	"@type":    "WebSite",
      	"name":     "{{ TITLE }}",
      	"alternateName": "{{ DESCRIPTION }}",
      	"url":      "{{ BASE_URL }}"
      }
      
    </script>
    <script>
      var $buoop = {vs:{i:9,f:-4,o:-4,s:7,c:-4},c:4};
      function $buo_f(){
      	var e = document.createElement("script");
      	e.src = "//browser-update.org/update.min.js";
      	document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}
      
      
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      	ga('create', 'UA-XXXXXXXX-X', 'auto');
      	ga('send', 'pageview');
    </script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
  </head>
  <body>
    <input id="identify" type="hidden" data-controller="register" data-action="">
    <!-- Google Tag Manager (noscript)-->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W7NXZWH" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript)--><input type="hidden" id="ubigeo_url" value="{% url 'ubigeo:ubigeo' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <div class="top-bar">
      <div class="main-menu">
        <div class="menu-container">
          <div class="content-left"><a class="menu-toggle" href="#"><span class="menu-toggle-line"></span><span class="menu-toggle-line"></span><span class="menu-toggle-line"></span></a>
            <ul class="navbar-social">
              <li><a href="https://www.lima2019.pe/en/advance-of-works"><img class="img-responsive" alt="icon-lang-en" src="{% static 'images/topbar/en.png' %}"></a></li>
              <li><a href="#"><img class="img-responsive" alt="accesibilidad-1" src="{% static 'images/topbar/dis1.png' %}"></a><i class="fa fa-caret-right color-black"></i></li>
              <li><span>
                  <button style="background: white; border: 0px; color: #6b6b6b" data-toggle="dropdown" data-hover="dropdown"><i class="fa fa-users"></i><i class="fa fa-caret-down" style="color: #000"></i></button></span></li>
              <li><a href="http://www.transparencia.gob.pe/enlaces/pte_transparencia_enlaces.aspx?id_entidad=17575&amp;id_tema=1&amp;ver=D#.XBku4npKh0t" rel="nofollow"><img alt="icon-transparencia" src="{% static 'images/topbar/portal_transparencia.png' %}"></a></li>
            </ul>
          </div>
          <div class="content-logo"><a href="https://www.lima2019.pe"><img alt="Logo Juegos Panamericanos y Parapanamericanos Lima 2019" src="{% static 'images/logo-color-lima2019.png' %}"></a></div>
          <div class="content-right">
            <ul class="links">
              <li><a href="https://www.lima2019.pe/oportunidad-laboral">Trabaja con Nosotros</a></li>
              <li><a href="https://www.lima2019.pe/voluntariado">Voluntariado</a></li>
              <li><a href="https://www.lima2019.pe/prensa">Prensa</a></li>
              <li><a href="https://www.lima2019.pe/actualidad">Actualidad</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div><div class="container register-container">
<div class="row no-gutters container__body--primary">
<div class="col-12 d-flex justify-content-center">
<img src="{% static 'images/logo.png' %}" width="141" height="178" class="img-fluid mt-5 d-none d-md-block d-lg-block">
</div>
<div class="col-12 text-center">
<h3 class="register-h3 mb-50 mt-50">Formulario de Inscripción</h3>
</div>
<div class="col-12">
<p class="body2">Tomar en cuenta las siguientes consideraciones antes de llenar el formulario:</p>
</div>
<div class="col-12 consider">
<ul>
<li class="body3">- El nominado debe destacar por poseer uno o varios de los valores de Lima 2019: amistad, respeto, excelencia, determinación,<br>
    coraje, igualdad o inspiración.</li>
<li class="body3">- Si crees ser un peruano que ilumina, no lo dudes y nomínate a ti mismo.</li>
<li class="body3">- Deberás llenar todos los datos que se solicitan para poder completar la inscripción.</li>
<li class="body3">- Lee y acepta los <a href="{% static 'files/Plan_de_Reclutamiento_Portador_es_-_Check_Parapan.pdf' %}" target="_blank" class="link">Términos y Condiciones Y Políticas de Privacidad.</a></li>
</ul>
<p class="body3">Recuerda que solo puedes nominar a una persona y que, si alguien ya ha sido nominado, no podrá ser registrado nuevamente.</p>
</div>
<form class="col-12" id="candidate_form" novalidate>
<div class="row no-gutters-mobile d-md-none d-lg-none m-0">
<div class="col-12">
<h4 class="form-title">Acerca de ti</h4>
</div>
</div>
<div class="row no-gutters mb-0">
<div class="col-1 d-none d-md-block d-lg-block">
<div class="d-flex flex-column justify-content-center align-items-center align-self-center" style="margin-top:30px; position: relative; height: 100%;">
<div class="border-vertical-text"></div>
<div class="vertical-text">Acerca de ti</div>
</div>
</div>
<div class="col-12 col-sm-12 col-md-11 col-lg-11 col-xl-11">
<div class="row no-gutters-mobile mb-0">
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
<div class="input-field position-relative">
<div class="icon"></div>
<input type="text" id="names" name="names" pattern="[a-zA-Z]" maxlength='30' placeholder="Nombres" class="mat-input">
</div>
</div>
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
<div class="input-field position-relative">
<div class="icon"></div>
<input type="text" id="last_name_father" name="last_name_father" maxlength="30" class="mat-input" placeholder="Apellido Paterno">
</div>
</div>
</div>
<div class="row no-gutters-mobile mb-0">
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
<div class="input-field position-relative">
<div class="icon"></div>
<input type="text" id="last_name_mother" name="last_name_mother" maxlength="30" class="mat-input" placeholder="Apellido Materno" />
</div>
</div>
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
<div class="input-field position-relative">
<div class="icon"></div>
<input type="email" id="email" name="email" placeholder="E-mail" maxlength="50" class="mat-input" />
</div>
</div>
</div>
<div class="row no-gutters-mobile mb-0">
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
<div class="input-field position-relative">
<div class="icon"></div>
<input type="text" id="id_number" name="id_number" class="mat-input" placeholder="DNI/Carnet de Extranjería" maxlength="12" minlength="8"/>
</div>
</div>
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
<div class="input-field position-relative">
<div class="icon"></div>
<input type="tel" id="phone" name="phone" type="number" class="mat-input" placeholder="Teléfono" maxlength="9" minlength="6"/>
</div>
</div>
</div>
<div class="row no-gutters-mobile mb-0">
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
<div class="input-field position-relative">
<div class="icon"></div>
<select id="user_deparment" name="user_deparment" class="custom" required>
<option value="" disabled selected>Departamento de residencia</option>{% for department in departments %}<option value="{{ department.pk }}">{{ department.name }}</option>{% endfor %}</select>
</div>
</div>
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
<div class="input-field position-relative">
<div class="icon"></div>
<select id="user_province" name="user_province" class="custom" required>
<option value="" disabled selected>Eliga una opción</option>
</select>
</div>
</div>
</div>
<div class="row no-gutters-mobile mb-0">
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
<div class="input-field position-relative">
<div class="icon"></div>
<select id="user_district" name="ubigeo" class="custom" required>
<option value="" disabled selected>Eliga una opción</option>
</select>
</div>
</div>
</div>
</div>
</div>
<div class="row no-gutters">
<div class="col-1 d-none d-md-block d-lg-block">
<div class="d-flex flex-column justify-content-center align-items-center align-self-center" style="margin-top:30px; position: relative; height: 100%;">
<div class="border-vertical-text"></div>
<div class="vertical-text">Acerca del Nominado</div>
</div>
</div>
<div class="col-12 d-md-none d-lg-none">
<h4 class="form-title mb-50">Acerca del nominado</h4>
</div>
<div class="col-12 col-sm-12 col-md-11 col-lg-11 col-xl-11">
<div class="row mb-0">
<div class="col-12 d-none d-md-block d-lg-block" style="height:18px;"></div>
<div class="col-12 mb-3">
<label>
<input type="checkbox" id="self_nominate" name="self_nominate" class="filled-in" />
<span>Deseo nominarme a mí mismo</span>
</label>
</div>
<div class="col-12 mb-3">
<label id="label-candidate_acknowledge">
<input type="checkbox" id="candidate_acknowledge" name="candidate_acknowledge" class="filled-in" />
<span>El candidato tiene conocimiento de su nominación</span>
</label>
</div>
<div class="col-12 mb-3">
<label>
<input type="checkbox" id="candidate_handicap" name="candidate_handicap" class="filled-in" />
<span>El candidato tiene necesidades especiales para su desplazamiento</span>
</label>
</div>
<div class="col-12 mb-3">
<label>
<input type="checkbox" id="candidate_capital_only" name="candidate_capital_only" class="filled-in" />
<span>El candidato solo puede participar del Relevo en Lima (Parapanamericano)</span>
</label>
</div>
</div>
<div class="row no-gutters-mobile mb-0" style="margin-top:-10px">
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
<div class="input-field position-relative">
<div class="icon"></div>
<input type="text" id="candidate_names" name="candidate_names" class="mat-input" placeholder="Nombres" maxlength="30"/>
</div>
</div>
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
<div class="input-field position-relative">
<div class="icon"></div>
<input type="text" id="candidate_last_name_father" name="candidate_last_name_father" class="mat-input" placeholder="Apellido Paterno" maxlength="30" />
</div>
</div>
</div>
<div class="row no-gutters-mobile mb-0">
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
<div class="input-field position-relative">
<div class="icon"></div>
<input type="text" id="candidate_last_name_mother" name="candidate_last_name_mother" class="mat-input" placeholder="Apellido Materno" maxlength="30"/>
<div class="msg-error"></div>
</div>
</div>
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
<div class="input-field position-relative">
<div class="icon"></div>
<input type="text" id="candidate_email" name="candidate_email" placeholder="E-mail" class="mat-input" maxlength="50"/>
<div class="msg-error"></div>
</div>
</div>
</div>
<div class="row no-gutters-mobile mb-0">
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
<div class="input-field position-relative">
<div class="icon"></div>
<input type="text" id="candidate_id_number" name="candidate_id_number" class="mat-input" placeholder="DNI/Carnet de Extranjería" maxlength="12" minlength="8"/>
</div>
</div>
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
<div class="input-field position-relative">
<div class="icon"></div>
<input type="tel" id="candidate_phone" name="candidate_phone"  class="mat-input" placeholder="Teléfono" maxlength="9" minlength="6"/>
<div class="msg-error"></div>
</div>
</div>
</div>
<div class="row no-gutters-mobile mb-0">
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
<div class="input-field position-relative">
<div class="icon"></div>
<select id="candidate_deparment" name="candidate_deparment" class="custom" required>
<option value="" disabled selected>Departamento de residencia</option>{% for department in departments %}<option value="{{ department.pk }}">{{ department.name }}</option>{% endfor %}</select>
<div class="msg-error"></div>
</div>
</div>
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
<div class="input-field position-relative">
<div class="icon"></div>
<select id="candidate_province" name="candidate_province" class="custom" required>
<option value="" disabled selected>Eliga una opción</option>
</select>
</div>
</div>
</div>
<div class="row no-gutters-mobile">
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
<div class="input-field position-relative">
<div class="icon"></div>
<select id="candidate_district" name="candidate_district" class="custom" required>
<option value="" disabled selected>Eliga una opción</option>
</select>
</div>
</div>
<input type="hidden" name="candidate_ubigeo" value="">
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
<div class="input-field position-relative">
<div class="icon"></div>
<input type="url" id="candidate_link" name="candidate_link" class="mat-input" placeholder="Añade un enlace (artículo, web, rrss)" required>
</div>
</div>
</div>
<div class="row no-gutters-mobile">
<div class="col-12">
<p class="color-dark-liver" style="font-weight:500; font-size:20px; line-height:24px">Elige la forma en que deseas nominar a tu candidato:</p>
</div>
</div>
<div class="row no-gutters-mobile" id="section-group1" style="display:none">
<div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
<p class="color-dark-live m-0 message-error">Por favor debe seleccionar una forma de nominar al candidato</p>
</div>
</div>
<div class="row no-gutters-mobile">
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
<label>
<input class="with-gap question_picker" name="group1" type="radio" value="questions" />
<span>Responder preguntas</span>
</label>
</div>
<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
<label>
<input class="with-gap question_picker" name="group1" type="radio" value="video" />
<span>Subir un video</span>
</label>
</div>
</div>
<div class="questions">
<section id="questionnaire" style="opacity:0.5">
<div class="row no-gutters-mobile">
<div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
<p class="color-dark-live" style="font-size:16px; font-weight:500">Cuéntanos acerca de tu nominado:</p>
</div>
</div>
<div class="row no-gutters-mobile">
<div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
<p class="color--dark-medium-gray">1. ¿Por qué consideras que es un “peruano que ilumina”? ¿Qué mérito ha tenido en su trabajo o labor?</p>
</div>
</div>
<div class="row no-gutters-mobile">
<div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
<div class="input-field position-relative">
<div class="icon"></div>
<input id="candidate_question_1" class="mat-input" style="background-image:none" name="candidate_question_1" disabled placeholder="Máx. 200 palabras">
</div>
</div>
</div>
<div class="row no-gutters-mobile">
<div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
<p class="color--dark-medium-gray">2. Logros e impacto. ¿Cómo y a quiénes ha impactado su trabajo o labor en su comunidad?</p>
</div>
</div>
<div class="row no-gutters-mobile">
<div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
<div class="input-field position-relative">
<div class="icon"></div>
<input id="candidate_question_2" class="mat-input" style="background-image:none" name="candidate_question_2" disabled placeholder="Máx. 200 palabras">
</div>
</div>
</div>
</section>
<section class="d-none" id="video">
<div class="row no-gutters-mobile">
<div class="col-12">
<label for="candidate_videofile"><h6>Introduce la URL del video de tu candidato</h6></label>
</div>
<div class="col-12">
<div class="input-field position-relative">
<div class="icon"></div>
<input type="url" id="candidate_videofile" name="candidate_videofile" class="mat-input" disabled placeholder="Introduce una URL" >
</div>
</div>
</div>
<div class="row no-gutters-mobile">
<div class="col-sm-12 col-md-12 col-lg-6 d-flex justify-content-center align-items-center">
<button type="button" disabled="disabled" id="video-preview-button" class="button btn-primary font-weight-bold">Previsualizar</button>
</div>
<div class="col-sm-12 col-md-12 col-lg-6">
<small id="emailHelp" class="form-text text-muted">*Asegúrate de subir tu video (solo Facebook, Youtube, Vimeo o Instagram) en modo público (usa previsualizar para verificar).</small>
</div>
</div>
</section>
</div>
<div class="row no-gutters-mobile mb-0" id="section-group2" style="display: none">
<div class="col-12">
<p class="message-error bottom">Debe aceptar lo requisitos para la Nominación </p>
</div>
</div>
<div class="row no-gutters-mobile mb-0" id="section-group3" style="display: none">
<div class="col-12">
<p class="message-error bottom">Debe aceptar los Términos y Condiciones Y Políticas de Privacidad</p>
</div>
</div>
<div class="row no-gutters-mobile mb-0">
<div class="col-12">
<label id="tracking_read_nomination_requirements" class="label-top" style="display:none">
<input class="with-gap requirements" id="group2" name="group2" type="radio" required checked />
<span>He leído los <a href="#" target="_blank" class="link">Requisitos para Nominación</a></span>
</label>
</div>
</div>
<div class="row no-gutters-mobile">
<div class="col-12">
<label id="tracking_accept_terms_conditions" class="label-top">
<input class="with-gap terms" id="group3" name="group3" type="radio" required />
<span>Acepto los <a href="{% static 'files/Plan_de_Reclutamiento_Portador_es_-_Check_Parapan.pdf' %}" target="_blank" class="link">Términos y Condiciones Y Políticas de Privacidad</a></span>
</label>
</div>
</div>
<div class="row no-gutters-mobile">
<div class="col-12">
<script src='https://www.google.com/recaptcha/api.js'></script>
<div class="g-recaptcha" id="recaptcha" data-sitekey="6LdLXJ4UAAAAAFIu9sdLC-HBQUqTMybL190FvIIv"></div>
<input type="hidden" class="hiddenRecaptcha required" name="hiddenRecaptcha" id="hiddenRecaptcha">
<p class="message-error recaptcha" id="message-recaptcha" style="display:none" >Verifica que no eres un robot</p>
</div>
</div>
</div>
</div>
<div class="row no-gutters-mobile">
<div class="col-12 text-center">
<button type="submit" class="button btn-primary font-weight-bold" id="submit">ENVIAR</button>
</div>
</div>
</form>
</div>
</div>
<div id="modal-ya-esta-nominado" class="modal-2">
<div class="modal-content-2">
<div class="close-2 close-ya-esta-nominado">X</div>
<div class="modal-body-2 text-center">
<h6>El usuario que intenta nominar ya ha sido nominado previamente, intente con otro DNI</h6>
</div>
</div>
</div>
<div id="modal-video-preview" class="modal-2">
<div class="modal-content-2">
<div class="close-2 close-video-preview">X</div>
<div class="modal-body-2 text-center" id="video-container">
</div>
</div>
</div>
<div id="my-modal" class="modal-2">
<div class="modal-content-2">
<div class="close-2 close-register-redirect">X</div>
<div class="modal-body-2 text-center">
<img src="{% static 'images/logo.png' %}" class="img-fluid modal-logo">
<h3 class="register-h3 mb-3 title-modal">¡Felicidades!</h3>
<p class="body4 mt-0">Tu nominación fue exitosa</p>
<p class="body2-modal">Estaremos evaluando a los candidatos en las próximas semanas. ¡Nos comunicaremos contigo o tu nominado apenas hayamos terminado el proceso de selección!</p>
<p class="body3 modal-body3">¡Comparte tu nominación e invita a más peruanos a participar!</p>
<p class="list-rrss-modal">
<a href="https://www.facebook.com/" id="fb-share" target="_blank"><img class="m-3" src="{% static 'images/facebook.png' %}"></a>
<a href="https://twitter.com/" id="twitter-share" data-title="{{ SHARE_TITLE }}" data-message="{{ SHARE_DESCRIPTION }}" data-keywords="{{ KEYWORDS }}" target="_blank"><img class="m-3" src="{% static 'images/twitter.png' %}"></a>
<a href="https://www.linkedin.com/" id="linkedin-share" target="_blank"><img class="m-3" src="{% static 'images/linkedin.png' %}"></a>
</p>
<a href="{% url 'website:home' %}" class="link">Lista de nominados</a>
</div>
</div>
</div>
<div id="spinner" class="w-100 h-100" style="display:none">
<div class="w-100 h-100 d-flex justify-content-center align-items-center">
<img src="{% static 'images/loader.gif' %}" width="60">
</div>
</div>
    <footer class="footer-container" style="background-color: white">
      <div class="footer-wrapper">
        <div class="footer-link-container">
          <h5><a href="https://www.lima2019.pe/juegos-lima2019">Los Juegos</a></h5>
          <div class="footer-link"><a href="https://www.lima2019.pe/panamericanos">Juegos Panamericanos</a></div>
          <div class="footer-link"><a href="https://www.lima2019.pe/parapanamericanos">Juegos Parapanamericanos</a></div>
          <div class="footer-link"><a href="https://www.lima2019.pe/milco">Milco</a></div>
          <div class="footer-link"><a href="https://www.lima2019.pe/deportes-panamericanos">Deportes Panamericanos</a></div>
          <div class="footer-link"><a href="https://www.lima2019.pe/deportes-parapanamericanos">Deportes Parapanamericanos</a></div>
          <div class="footer-link"><a href="https://www.lima2019.pe/embajadores">Embajadores</a></div>
          <div class="footer-link"><a href="https://www.lima2019.pe/legado">Legado</a></div>
          <div class="footer-link"><a href="https://www.lima2019.pe/panam-sports">Panam Sports</a></div>
          <div class="footer-link"><a href="https://www.lima2019.pe/organizaciones-paralimpicas">Organizaciones Paral&iacute;mpicas</a></div>
          <div class="footer-link"><a href="https://www.lima2019.pe/preguntas-frecuentes">Preguntas Frecuentes</a></div>
          <hr>
        </div>
        <div class="footer-link-container">
          <h5><a href="https://www.lima2019.pe/actualidad">Actualidad</a></h5>
          <div class="footer-link"><a href="https://www.lima2019.pe/noticias">Noticias</a></div>
          <div class="footer-link"><a href="https://www.lima2019.pe/newsletter">Newsletter</a></div>
          <div class="footer-link"><a href="https://www.lima2019.pe/galeria">Galer&iacute;a</a></div>
          <hr>
          <h5><a href="https://www.lima2019.pe/prensa">Prensa</a></h5>
          <div class="footer-link"><a href="https://www.lima2019.pe/alojamiento-prensa">Alojamiento para Prensa</a></div>
          <hr>
          <h5><a href="https://www.lima2019.pe/broadcast">Broadcast</a></h5>
          <hr>
        </div>
        <div class="footer-link-container">
          <h5><a href="https://www.lima2019.pe/institucional">Institucional</a></h5><a href="https://www.lima2019.pe/institucional"></a>
          <div class="footer-link"><a href="https://www.lima2019.pe/institucional"></a><a href="https://www.lima2019.pe/conocenos">Con&oacute;cenos</a></div>
          <div class="footer-link"><a href="https://www.lima2019.pe/quienes-somos">Qui&eacute;nes somos</a></div>
          <div class="footer-link"><a href="https://www.lima2019.pe/estructura-organica">Estructura Org&aacute;nica</a></div>
          <div class="footer-link"><a href="https://www.lima2019.pe/directorio-institucional">Directorio Institucional</a></div>
          <div class="footer-link"><a href="https://www.lima2019.pe/control-interno">Control Interno</a></div>
          <div class="footer-link"><a href="https://www.lima2019.pe/oportunidad-laboral">Trabaja con Nosotros</a></div>
          <div class="footer-link"><a href="https://www.lima2019.pe/declaraciones-juradas">Declaraciones Juradas</a></div>
          <div class="footer-link"><a href="https://www.lima2019.pe/transparencia">Transparencia</a></div>
          <div class="footer-link"><a href="https://www.lima2019.pe/documentos-institucionales">Documentos Institucionales</a></div>
          <div class="footer-link"><a href="https://www.lima2019.pe/marco-legal">Marco Legal</a></div>
          <div class="footer-link"><a target="_blank" href="https://midenuncia.mtc.gob.pe/denuncias/index/4">Denuncias</a></div>
          <hr>
        </div>
        <div class="footer-link-container">
          <h5><a href="https://www.lima2019.pe/contrataciones">Contrataciones</a></h5><a href="https://www.lima2019.pe/contrataciones"></a>
          <div class="footer-link"><a href="https://www.lima2019.pe/contrataciones"></a><a href="https://www.lima2019.pe/proyectos-lima2019">Proyectos de Inversi&oacute;n</a></div>
          <div class="footer-link"><a href="https://www.lima2019.pe/contrataciones/tecnologia-broadcasting">Tecnolog&iacute;a y Broadcasting</a></div>
          <div class="footer-link"><a href="https://www.lima2019.pe/contrataciones/publicidad-marketing">Publicidad, Marketing y Eventos</a></div>
          <div class="footer-link"><a href="https://www.lima2019.pe/contrataciones/infraestructura-temporal">Infraestructura Temporal</a></div>
          <div class="footer-link"><a href="https://www.lima2019.pe/contrataciones/equipamiento-deportivo">Equipamiento Deportivo</a></div>
          <div class="footer-link"><a href="https://www.lima2019.pe/contrataciones/transportes-y-servicios">Transportes</a></div>
          <div class="footer-link"><a href="https://www.lima2019.pe/contrataciones/logistica">Log&iacute;stica</a></div>
          <div class="footer-link"><a href="https://www.lima2019.pe/contrataciones/servicios-medicos">Servicios M&eacute;dicos</a></div>
          <hr>
          <h5><a href="https://lima2019panamericanos.sharepoint.com/sites/intranet" target="_blank">Intranet</a></h5>
          <hr>
          <h5><a href="https://lima2019panamericanos.sharepoint.com/sites/extranet" target="_blank">Extranet</a></h5>
          <hr>
        </div>
      </div>
      <div class="redes">
        <div class="sub-footer-social">
          <div class="exo2">Síguenos</div><a href="https://www.facebook.com/lima2019juegos" target="_blank"><i class="fab fa-facebook-f"></i></a><a href="https://www.instagram.com/lima2019juegos/" target="_blank"><i class="fab fa-instagram"></i></a><a href="https://twitter.com/Lima2019Juegos " target="_blank"><i class="fab fa-twitter"></i></a><a href="https://www.youtube.com/channel/UCcwnIFee3kfzH4-vpWqmuCQ" target="_blank"><i class="fab fa-youtube"></i></a><a href="https://pe.linkedin.com/company/lima2019juegos " target="_blank"><i class="fab fa-linkedin-in"></i></a><a href="https://www.flickr.com/photos/lima2019juegos/" target="_blank"><i class="fab fa-flickr"></i></a>
        </div>
      </div>
      <div class="copyright"><img class="img-responsive" alt="footer-icon" width="130" height="auto" src="https://d1qv7178yd07uj.cloudfront.net/multimedia/logo-lima2019-alt2.png"><span class="exo2"><span class="dash">&mdash;</span> Todos Los Derechos Reservados</span></div>
      <div class="ondas"></div>
    </footer>
    <script>
      window.fbAsyncInit = function() {
      FB.init({
        appId            : '{{ FACEBOOK_ID }}',
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v3.2'
      });
      };
      
    </script>
    <div id="fb-root"></div>
    <script async defer src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&amp;version=v3.2&amp;appId={{ FACEBOOK_ID }}&amp;autoLogAppEvents=1" type="text/javascript"></script>
    <!-- jQuery Librerias-->
    <script src="{% static 'js/vendor/vendor_all.js' %}" type="text/javascript"></script>
    <!-- Compilado de application.js-->
    <script src="{% static 'js/bundle.js' %}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>