.bg
  img(src="{% static 'images/bg.jpg' %}").img-desk
  img(src="{% static 'images/bg_movil.jpg' %}").img-movil
.container 
  #miradas_home
    .description
      h3 #[b  Miradas - I Congreso Internacional sobre Calidad Educativa en la Primera Infancia] tiene como objetivo reunir a la comunidad educativa para analizar la situación actual de la educación inicial, identificar prácticas y casos de éxito que puedan extrapolarse a diversos contextos y promover una reflexión sobre la importancia de asegurar la calidad en esta etapa educativa.    
    .content_calendar
      .date(style="border-right: 1px solid #D7D7D7;") 
        img(src="{% static 'images/calendario22.png' %}")
        span Lugar:
          p Auditorio 
          p Fundación Telefónica
      .date   
        img(src="{% static 'images/calendario23.png' %}")
        span Lugar: 
          p BTH - San Borja #[br] UPAL - Chorrillos
 
