.container
  #container_register  
    h3 Inscríbete
    .content_register
      .step(style="border-right: 1px solid #D7D7D7;") 
        img(src="{% static 'images/iconopaso1.png' %}")
        h2 PASO 1
        p #[b Hacer efectivo el pago] de inscripción vía depósito al siguiente número de cuenta.
        p.alternativo Make the inscription payment to the following bank account.
      .step(style="border-right: 1px solid #D7D7D7;")    
        img(src="{% static 'images/iconopaso2.png' %}")
        h2 PASO 2
        p #[b Escanea] tu voucher o tómale una foto, luego regístrate y adjunta tu comprobante realizado.
        p.alternativo Scan or take a photo of your voucher, sign up and attach it.
      .step    
        img(src="{% static 'images/iconopaso3.png' %}")
        h2 PASO 3
        p #[b Recibirás] la llamada de nuestro asesor.
        p.alternativo You will receive a call from our assessor
    p.account #[b N.º cuenta BCP : 193 - 2346807019] (Consultora Educativa Transforma)
    p.price Donación: S/ 130.00 (por persona)