footer#miradas__footer
  .container
    .footer__container
      .footer__container__option
        a(href="#" class="home") Inicio
        a(href="#" class="programa") Programa
        a(href="#" class="ponentes") Ponentes
        a(href="#" class="inscribete") Inscripción
      .footer__container__logo
        img(src="{% static 'images/logotipo_footer.png'%} ")
      .footer__container__contact
        h5(style="margin-bottom: 2px;") Contacto: 
        h5 Correo: 
          span informes@miradas.com.pe 
        h5 Teléfono: 
          span (01) 6275690
        h5(style="margin: 9px 0 5px;") Síguenos en:
        .redes
          a(href="https://www.facebook.com/Transforma.org.pe/")
            img(src="{% static 'images/fb_footer.png'%}" alt="")
          a(href="https://www.linkedin.com/company/19075381/admin/")
            img(src="{% static 'images/linkedin_footer.png'%}" alt="")
          a(href="https://www.instagram.com/transformaong/?hl=es-la")
            img(src="{% static 'images/instagram_footer.png'%}" alt="")

