#container_form
  .container
    .content_form
      p Completa el siguiente formulario y adjunta el comprobante del depósito realizado.
      #form
        form(id='participant' method='post')
          .content-input
            .icon
            input(type="text" placeholder="Nombres y apellidos" id="name" name="name" maxlength="90" required)
          .content-input
            .icon
            input(type="text" placeholder="N.º DNI / C.E. / Pasaporte" id="document" name="document" maxlength="16")
          .content-input
            .icon
            input(type="tel" placeholder="Número de teléfono" id="phone" name="phone" maxlength="9")
          .content-input
            .icon
            input(type="text" placeholder="Empresa" id="company" name="company" maxlength="60")
          .content-input
            .icon
            input(type="text" placeholder="Cargo" id="position" name="position" maxlength="60")
          .content-input
            .icon
            input(type="email" placeholder="Correo electrónico" id="email" name="email" maxlength="80")
            input(type="hidden" id="token" name="token")
          .content-input
            section.demo-file
              .row
                input(type='file' ,  data-jcf='{"buttonText": "ADJUNTAR", "placeholderText": "Adjuntar comprobante de depósito"}' id="voucher" name="voucher")
          .content-input
            input(type="button" id="submit" value="Enviar")
          #resultDiv
  script(type="text/javascript").
    grecaptcha.ready(function () {
        grecaptcha.execute('6LcW76AUAAAAAEZ3EjeKwFbaLqSNRDMc-BSojiB8', {action: 'homepage'}).then(function (token) {
            $('#token').val(token);
        });
    });