#miradas__header
  .header__redes
    .content_redes
      h5 Síguenos en:
      .content_images
        a(href="https://www.facebook.com/Transforma.org.pe/")
          img(src="{% static 'images/facebook_icon_menu.png'%}")
        a(href="https://www.linkedin.com/company/19075381/admin/")
          img(src="{% static 'images/linkedin_icon_menu.png'%}")
        a(href="https://www.instagram.com/transformaong/?hl=es-la")
          img(src="{% static 'images/instagram_icon_menu.png'%}") 

main
  .content_logo
    img(src="{% static 'images/logotipo_Miradas_menu.png' %}" class="img-profile")

header#header-menu
  nav
    a(href="#" class="home")#inicio Inicio
    a(href="#" class="programa")#programa Programa
    a(href="#" class="ponentes")#ponentes Ponentes
    a(href="#" class="inscribete")#inscripcion Inscripción

			

                    