.container
  #container_logo
    .content_logo
      h3 Organizan:
      .organizes
        img(src="{% static 'images/Trasnforma_logo.png' %}")
        img(src="{% static 'images/Embajada_Finlandia_logo.png' %}")
      h3 Con el apoyo de:
      .support 
        img(src="{% static 'images/Dialogo_Interameicano_logo.png' %}")
        img(src="{% static 'images/Unicef_logo.png' %}")
      h3 Auspiciado por:
      .auspice
        img(src="{% static 'images/Telefonica_Fundacion.png' %}")
        img(src="{% static 'images/Embajada_Italia_logo.png' %}")
        img(src="{% static 'images/IIC_logo.png' %}")
        img(src="{% static 'images/Minsur_logo.png' %}")
        img(src="{% static 'images/Dinamica_logo.png' %}")
        img(src="{% static 'images/RedSolare_logo.png' %}")
        img(src="{% static 'images/apejo.jpg' %}")
        img(src="{% static 'images/iniciativa.png' %}")
        img(src="{% static 'images/logo_nuevo.jpg' %}" style='width: 100px;')
        

