.container
  #container_schedule
    h3 Programa
    .content_schedule 
      p.title DÍA 1 - Conferencias/ 22 de mayo 
      p.subtitle-schedule Auditorio Fundación Telefónica
      .content_info
        .description
          .hour1.column
            h5 Registro de participantes
          .hour2.column
            h5 Bienvenida a los participantes
            .content_description
              .title Video de bienvenida con palabras de
              .text 
                p Mika Koskinen, embajador de Finlandia.
                p Fiorella de Ferrari, cofundadora de la ONG TRANSFORMA. 
                p Ariel Fiszbein, director del Programa de Educación, Diálogo Interamericano.
                p Ana de Mendoza, representante de UNICEF en Perú.
              .title Palabras de bienvenida 
              .text 
                p Maribel Diaz Cabello, Primera Dama (por confirmar).
          .hour3.column
            h5 PARTE 1: ¿POR QUÉ INVERTIR EN CALIDAD EDUCATIVA EN LA PRIMERA INFANCIA? 
            .content_description
              .title Keynote Speaker:
              .text
                p Mauricio Cárdenas, exministro de Hacienda de Colombia
              .title Panel
              .text 
                p Adriana Delpiano, exministra de Educación Chile.
                p Ricardo Bucio, secretario ejecutivo del Sistema Integral de Protección de Niñas, Niños y Adolescentes (SIPINNA), México.
                p Patricia Andrade, viceministra de Gestión Pedagógica del MINEDU (por confirmar).
                p Ariela Luna, viceministra de Políticas y Evaluación del MIDIS (por confimar)
              .title Moderador
              .text 
                p  Cesar Guadalupe, Presidente del Consejo Nacional de Educación 
          .hour4.column
            h5 Coffee Break  
          .hour5.column
            h5 PARTE 2: ¿CÓMO PROMOVEMOS APRENDIZAJES DE CALIDAD EN LA PRIMERA INFANCIA?
            .content_description
              .title Keynote Speakers:
              .text
                p Claudia Giudici, Presidente de Reggio Children.
                p Mirjam Kalland, catedrática de Educación Infantil Temprana en la Universidad de Helsinki.
          .hour6.column
            h5 Almuerzo Libre
          .hour7.column
            h5 PARTE 2: ¿CÓMO PROMOVEMOS APRENDIZAJES DE CALIDAD EN LA PRIMERA INFANCIA?
            .content_description
              .title Keynote Speakers:
              .text
                p Lesley Holst, directora de Aprendizaje a Través del Juego en la Primera Infancia, Fundación LEGO.
              .title Conversatorio
              .text
                p Preguntas y respuestas. Claudia Giudici, Mirjam Kalland y Sarah Bouchie.
              .title Moderadora
              .text
                p Fiorella de Ferrari, cofundadora de la ONG TRANSFORMA.
          .hour8.column
            h5 PARTE 3: EXPERIENCIAS Y PERSPECTIVAS DESDE LA REGION
            .content_description
              .title Panelista
              .text
                p Antonio Rizzoli, Jefe de la Unidad de investigación en Neurodesarrollo del hospital Infantil de Mexico Federico Gomez  
                p Leonardo Yanez, Oficial de Programas para Amèrica Latina de la Fundación Bernard Van Leer (Holanda)  
                p Maria Jose Castro Rojas, Subsecretaria de Educación Parvularia, Ministerio de Educación de Chile
                p Fernando Bolaños, Oficial de Educación de UNICEF en Perú
              .title Moderador
              .text
                p Ariel Fiszbein, director del Programa de Educación Diálogo Interamericano.
          .hour9.column
            h5 PARTE 4: LAS EXPERIENCIAS EN PERú
            .content_description
              .title Panelista
              .text
                p César Guadalupe, presidente del Consejo Nacional de Educación del Perú 
                p Fiorella de Ferrari, cofundadora de la ONG TRANSFORMA.      
                p Ministerio de educación
                p Santiago Cueto, investigador principal de GRADE
              .title Moderador
              .text
                p Ariel Fiszbein, director del Programa de Educación Diálogo Interamericano
          .hour10.column
            h5 CIERRE DEL EVENTO 
            .content_description
              .text
                p Flor Pablo, ministra de Educación del Perú (por confirmar).
                p Paola Bustamante, ministra de Desarrollo e Inclusión Social del Perú (por confirmar).
    .content_schedule 
      p.title DÍA 2 / 23 de mayo 
      p.subtitle-schedule BTH - San Borja #[br] UPAL - Chorrillos
      .content_info
        .description
          .hour2.column
            h5 Registro de participantes y café
          .hour3.column
            h5 TALLERES      
            .content_description
              h4.titlet(style="padding-top: 0;padding-bottom: 0;margin:0;") Generando interacciones de calidad en el aula (50 participantes)
              p.subtitle - Miluska Huamani, ONG Tranforma
              h4.titlet(style="padding-top: 15px; padding-bottom: 0;margin:0;") El ambiente como un tercer maestro* (60 participantes en UPAL)
              p.subtitle - Barbara Quinti, Reggio Children.
              h4.titlet(style="padding-top: 15px; padding-bottom: 0;margin:0;") MELQO: medición de la calidad y los resultados de aprendizaje en la educación inicial" con la participación de la OSEE (aplicación del MELQO en Perú).
              p.subtitle - Magdalena Bendini, Banco Mundial.
              h4.titlet(style="padding-top: 15px; padding-bottom: 0;margin:0;") De la medición a la práctica: experiencia de Colombia (50 participantes).
              p.subtitle - Carolina Maldonado y Eduardo Escallón, Universidad de Los Andes.
              h4.titlet(style="padding-top: 15px; padding-bottom: 0;margin:0;") El aprendizaje basado en el juego y el rol de los padres (60 participantes)
              p.subtitle - Brenda Campos, The Sesame Workshop.
              h4.titlet(style="padding-top: 15px; padding-bottom: 0;margin:0;") Implementando aulas con bajos recursos a través del reciclaje (60 participantes).
              p.subtitle - María Adelaída López, AEIOTU.
              h4.titlet(style="padding-top: 15px; padding-bottom: 0;margin:0;") La importancia del juego en el aula (50 participantes). 
              p.subtitle - Ragnar Behncke, Social Map Chile.
              h6 *sesiones se extenderán hasta las 12:00
          .hour11.column
            h5 Almuerzo Libre 
          .hour12.column
            h5 TALLERES
            .content_description
              h4.titlet(style="padding-top: 0;padding-bottom: 0;margin:0;") Generando interacciones de calidad en el aula* (50 participantes en UPAL)
              p.subtitle - Miluska Huamaní, ONG Transforma. 
              h4.titlet(style="padding-top: 15px; padding-bottom: 0;margin:0;") El apego y el desarrollo de habilidades sociales y emocionales en la primera infancia (50 participantes).
              p.subtitle Mirjam Kalland, Catedrática de Educación Infantil Temprana, Universidad de Helsinki 
              h4.titlet(style="padding-top: 15px; padding-bottom: 0;margin:0;") El rol del arte en la educación inicial y en la salud emocional (60 participantes).
              p.subtitle - Georgina Santibañez, El Pez en la Luna
              h4.titlet(style="padding-top: 15px; padding-bottom: 0;margin:0;") *Necesidades especiales en la educación inicial (40 participantes).
              p.subtitle - UNICEF
              h4.titlet(style="padding-top: 15px; padding-bottom: 0;margin:0;") *Cómo diseñar y gestionar espacios urbanos amigables para la primera infancia (50 participantes).
              p.subtitle - Vanessa Lainez, Fundación van Leer.
              h4.titlet(style="padding-top: 15px; padding-bottom: 0;margin:0;") Aprendiendo a resolver y a racionalizar a través del juego (60 participantes)
              p.subtitle - Nicolangelo Pelosi. Bricks 4 Kidz
              h4.titlet(style="padding-top: 15px; padding-bottom: 0;margin:0;") Matemáticas para Todos (MPT). Cómo fomentar las capacidades matemáticas de niños de 4-5 años (50 participantes)
              p.subtitle - Lucía Vilchez, Especialista de educación Inicial del Instituto Apoyo.

      
      