#container_speakers
  h3#inscribete Ponentes
  .content_speakers    
    .slick-carousel
      .slide-content 
        .speakers
          img(src="{% static 'images/Claudia-Giudici.png' %}")
          article
            h3 Claudia Giudici
            p Presidente de Reggio Children    
      .slide-content 
        .speakers
          img(src="{% static 'images/Lesley_Holst.png' %}")
          article
            h3 Lesley Holst
            p Directora de Aprendizaje a Través del Juego en la Primera Infancia, Fundación LEGO 
      .slide-content 
        .speakers
          img(src="{% static 'images/Mirjam_Kalland.png' %}")
          article
            h3 Mirjam Kalland
            p Catedrática de Educación Infantil Temprana, Universidad de Helsinki 
      .slide-content 
        .speakers
          img(src="{% static 'images/Mauricio_Cardenas.png' %}")
          article
            h3 Mauricio Cárdenas
            p Exministro de Hacienda de Colombia  
      .slide-content 
        .speakers
          img(src="{% static 'images/Barbara_Quinti.png' %}")
          article
            h3 Barbara Quinti 
            p Reggio Emilia                                          
      .slide-content 
        .speakers
          img(src="{% static 'images/Mika_Koskinen.png' %}")
          article
            h3 Mika Koskinen
            p Embajador de Finlandia
      .slide-content 
        .speakers
          img(src="{% static 'images/Fiorella_de_Ferrari.png' %}")
          article
            h3 Fiorella de Ferrari
            p Cofundadora de Transforma
      .slide-content 
        .speakers
          img(src="{% static 'images/Magdalena_Bendidi.png' %}")
          article
            h3 Magdalena Bendini
            p Banco Mundial
      .slide-content 
        .speakers
          img(src="{% static 'images/Ariel_Fiszbein.png' %}")
          article
            h3 Ariel Fiszbein
            p Director de Educación de Dialogo Interamericano
      .slide-content 
        .speakers
          img(src="{% static 'images/Carolina_Maldonado.png' %}")
          article
            h3 Carolina Maldonado
            p Universidad de los Andes
      .slide-content 
        .speakers
          img(src="{% static 'images/Ana_de_Mendoza.png' %}")
          article
            h3 Ana de Mendoza
            p Representante de Perú UNICEF
      .slide-content 
        .speakers
          img(src="{% static 'images/Eduardo_Escallon.png' %}")
          article
            h3 Eduardo Escallon
            p Universidad de los Andes
      .slide-content 
        .speakers
          img(src="{% static 'images/Adriana_Delpiano.png' %}")
          article
            h3 Adriana Delpiano
            p Exministra de Educación de Chile
      .slide-content 
        .speakers
          img(src="{% static 'images/Brenda_Campos.png' %}")
          article
            h3 Brenda Campos
            p The Sesame Workshop.
      .slide-content 
        .speakers
          img(src="{% static 'images/Maria_Adelaida_Lopez.png' %}")
          article
            h3 María Adelaida Lopez
            p AEIOtu
      .slide-content 
        .speakers
          img(src="{% static 'images/Ricardo_Buccio.png' %}")
          article
            h3 Ricardo Bucio
            p Secretario ejecutivo del Sistema Integral de Protección de Niñas, Niños y Adolescentes (SIPINNA) de México 
      .slide-content 
        .speakers
          img(src="{% static 'images/Antonio_Rizzoli.png' %}")
          article
            h3 Antonio Rizzoli
            p Jefe de la Unidad de Investigación en Neurodesarrollo en el Hospital Infantil de México Federico Gómez. 
      .slide-content 
        .speakers
          img(src="{% static 'images/Leonardo_Yanez.png' %}")
          article
            h3 Leonardo Yanez
            p Oficial de programas para América Latina de la Fundación Bernard Van Leer Holanda 
      .slide-content 
        .speakers
          img(src="{% static 'images/Ragnar_Behncke.png' %}")
          article
            h3 Ragnar Behncke 
            p Laboratorio Lúdico
      .slide-content 
        .speakers
          img(src="{% static 'images/Miluska_Huamani.png' %}")
          article
            h3 Miluska Huamani 
            p ONG Transforma      
      .slide-content 
        .speakers
          img(src="{% static 'images/Maria_Jose_Castro.png' %}")
          article
            h3 María Jose Castro
            p Subsecretaria de Educación Parvularia, Ministerio de Educación de Chile 
      .slide-content 
        .speakers
          img(src="{% static 'images/Fernando_Bolanos.png' %}")
          article
            h3 Fernando Bolaños
            p Oficial de Educación de UNICEF
      .slide-content 
        .speakers
          img(src="{% static 'images/Cesar_Guadalupe.png' %}")
          article
            h3 Cesar Guadalupe
            p Presidente del Consejo Nacional de Educación del Perú                                  
      .slide-content 
        .speakers
          img(src="{% static 'images/Santiago_Cueto.png' %}")
          article
            h3 Santiago Cueto
            p Miembro del Consejo Nacional de Educación del Perú       
  .content_download
    .download
      img(src="{% static 'images/download.png' %}")
      a(href="{% static 'images/conferencistas.pdf' %}" target="_blank") DESCARGAR
        p INFORMACIÓN DE PONENTES 