@import "globals/variables.scss";
@import "globals/global.scss";
@import "globals/slick.scss";
@import "globals/slick-theme.scss";
@import "globals/typography.scss";
@import "globals/jcf.scss";
@import "globals/sweetalert2.scss";
@import "modules/header.scss";
@import "modules/layout.scss";
@import "modules/banner.scss";
@import "modules/schedule.scss";
@import "modules/speakers.scss";
@import "modules/enroll.scss";
@import "modules/form.scss";
@import "modules/logo.scss";
@import "modules/icofont.scss";
@import "modules/footer.scss";

.container{
	max-width: 1024px;
	margin: 0 auto;
}