| {% load static %}
doctype html
html(lang="es-ES")
	head
		meta(charset='utf-8')
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title
			| {{ TITLE }}
		meta(name='description', content="{{ DESCRIPTION }}")
		meta(name='keywords', content="{{ KEYWORDS }}")
		meta(name='author', content="{{ AUTHOR }}")

		// Theme color (Only Chrome Mobile)
		meta(name="theme-color", content="#D7006D")

		// Facebook meta tags
		meta(property='og:title', content="{{ SHARE_TITLE }}")
		meta(property='og:description', content="{{ SHARE_DESCRIPTION }}")
		meta(property='og:type', content="website")
		meta(property='og:url', content="{{ BASE_URL }}")
		meta(property='og:image', content="{{ BASE_URL }}{% static 'images/Facebook.jpg' %}")

		// Twitter meta tags
		meta(name="twitter:card" content="summary_large_image")
		meta(name="twitter:title" content="{{ SHARE_TITLE }}")
		meta(name="twitter:description" content="{{ SHARE_DESCRIPTION }}")
		meta(name="twitter:image" content="{{ BASE_URL }}{% static 'images/Facebook.jpg' %}")
		meta(name="twitter:image:width" content="1200")
		meta(name="twitter:image:height" content="630")
		//Favicon
		link(rel="icon", type="image/png", href="{% static 'images/favicon.ico' %}")
		link(rel='shortcut icon', type='image/png', href="{% static 'images/favicon.ico' %}")
		link(rel="apple-touch-icon-precomposed", sizes="60x60", href="{% static 'images/apple-touch-icon-iphone.png' %}")
		link(rel="apple-touch-icon-precomposed", sizes="76x76", href="{% static 'images/apple-touch-icon-ipad.png' %}")
		link(rel="apple-touch-icon-precomposed", sizes="120x120", href="{% static 'images/apple-touch-icon-iphone@2x.png' %}")
		link(rel="apple-touch-icon-precomposed", sizes="152x152", href="{% static 'images/apple-touch-icon-ipad@2x.png' %}")

		//Canonical
		link(rel="canonical", href="{{ BASE_URL }}")

		link(rel='stylesheet', href="{% static 'css/style.css' %}")

		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Exo+2:400,600,700|Roboto:400,700")

		link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.1/css/all.css")

		link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")

		script.
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-W7NXZWH');
		// End Google Tag Manager

		|<!--[if lte IE 9]>
		|<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
		|<![endif]-->

		script(type="application/ld+json").
			{
				"@context": "http://www.schema.org",
				"@type":    "WebSite",
				"name":     "{{ TITLE }}",
				"alternateName": "{{ DESCRIPTION }}",
				"url":      "{{ BASE_URL }}"
			}

		script.
			var $buoop = {vs:{i:9,f:-4,o:-4,s:7,c:-4},c:4};
			function $buo_f(){
				var e = document.createElement("script");
				e.src = "//browser-update.org/update.min.js";
				document.body.appendChild(e);
			};
			try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
			catch(e){window.attachEvent("onload", $buo_f)}


		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
				ga('create', 'UA-XXXXXXXX-X', 'auto');
				ga('send', 'pageview');
		script(src="https://www.google.com/recaptcha/api.js?render=6LcW76AUAAAAAEZ3EjeKwFbaLqSNRDMc-BSojiB8")

	body
		block identify
			input#identify(type="hidden", data-controller="home", data-action="")

		// Google Tag Manager (noscript)
		noscript
			iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-W7NXZWH', height='0', width='0', style='display:none;visibility:hidden')
		// End Google Tag Manager (noscript)




		block content

		block bottom

		// jQuery Librerias
		script(src="{% static 'js/vendor/vendor_all.js' %}", type='text/javascript')

		// Compilado de application.js
		script(src="{% static 'js/bundle.js' %}")
