.bg{
  img{
    width: 100%;
  }
  .img-desk{
    @media screen and (max-width: 519px){
      display: none;
    }
  }
  .img-movil{
    @media screen and (min-width: 520px){
      display: none;
    }  
  }
}
#miradas_home{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  @media screen and (max-width: 520px){
    padding: 20px;
  }
  .description{
    text-align: justify;
    margin: 0 auto;
    max-width: 754px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 70px 30px 30px;
    @media screen and (max-width: 520px){
      margin: 10px;
    }
    h3{
      color: #a0a0a0;
      font-size: 25px;
      font-family: 'Raleway-Regular';
      font-weight: 100;
      line-height: 28px;
      @media screen and (max-width: 520px){
        font-size: 16px;
        text-align: center;
      }
      span{
        text-align: center;
        width: 100%;
        display: block;
      }
    }
  }
  .content_calendar{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 545px;
    margin: 20px auto;
    height: 90px;
    @media screen and (max-width: 520px){
      max-width: 300px;
      padding: 22px 0 0;
      margin: 0;
    }
    .date{
      display: flex;
      flex-direction: column;
      width: 270px;
      flex-flow: row wrap;
      flex-wrap: wrap;
      padding: 0px 15px 0 30px;
      @media screen and (max-width: 520px){
        width: 150px;
        padding: 0 6px;
      }
      img{
        @media screen and (max-width: 520px){
          width: 51px;
          height: 51px;
        }
      }
      span{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px 0 5px 11px;
        font-size: 11px;
        font-family: 'Raleway-Italic';
        font-weight: bold;
        color: #8c8c8c;
        @media screen and (max-width: 520px){
          font-size: 7px;
        }
        p{
          font-size: 13px;
          color: #8c8c8c;
          font-family: 'Raleway-Regular';
          @media screen and (max-width: 520px){
            font-size: 7px;
          }
        }
      }
    }
    .date:nth-child(2){
      @media screen and (max-width: 520px){
        padding-left: 20px;
      }
    }
  }
}

