footer#miradas__footer{
  background: #2f337b;
  .footer__container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 870px;
    width: 100%;
    margin: 0 auto;
    padding: 25px 0;
    @media screen and (max-width: 900px){
      padding: 25px;
    }
    @media screen and (max-width: 520px){
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__option{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      @media screen and (max-width: 520px){
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 15px 0;
      }
      a{
        color: #fff;
        font-size: 10px;
        font-family: 'Raleway-Medium';
        padding: 3px 0;
      }
    }
    &__logo{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 38%;
      align-items: flex-end;
      @media screen and (max-width: 520px){
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 15px 0;
      }
    }
    &__contact{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      @media screen and (max-width: 520px){
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 15px 0;
      }
      h5{
        color: #fff;
        font-size: 10px;
        font-family: 'Raleway-Bold';
        padding: 1px;
        margin: 1px;
        span{
          color: #fff;
          font-size: 10px;
          font-family: 'Raleway-Medium';
          font-weight: 100;
        }
      }
    }
  }
}