#container_form{
  width: 100%;
  display: flex;
  padding: 30px 0;
  flex-direction: column;
  .container{
    .content_form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 900px;
      margin: 0 auto;
      @media screen and (max-width: 640px){
        width: 90%;
      }
      p{
        color: #252525;
        font-size: 15px;
        font-family: 'Raleway-Medium';
        @media screen and (max-width: 640px){
          text-align: center;
        }
      }
      #form{
        max-width: 600px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        form{
          width: 100%;
          .content-input{
            position: relative;
            input{
              border: none;
              background: #F0F0F0;
              outline: none;
              color:#AFAFAF;
              font-size: 15px;
              font-family: 'Raleway-Medium';
              width: 100%;
              margin: 10px auto;
              height: 41px;
              border-radius: 5px;
              padding: 0 11px;
              @media screen and (max-width: 640px){
                margin: 5px auto;
              }
            }
            .input-error {
              border: 1px solid red !important;
              border-radius: 5px !important;
            }
            .input-good {
              border: 1px solid #00b3cc !important;
              border-radius: 5px !important;
            }
            .icon-error {
              &:before {
                content: '';
                width: 3px;
                height: 16px;
                background-color: red;
                right: 15px;
                top: 22px;
                position: absolute;
                transform: rotate(43deg);
              }
               &:after {
                content: '';
                width: 3px;
                height: 16px;
                background-color: red;
                right: 15px;
                top: 22px;
                position: absolute;
                transform: rotate(-43deg);
              }
            }
            .icon-good {
              &:before {
                content: '';
                width: 3px;
                height: 16px;
                background-color: #00b3cc;
                right: 15px;
                top: 24px;
                position: absolute;
                transform: rotate(38deg);
              }
               &:after {
                content: '';
                width: 3px;
                height: 8px;
                background-color: #00b3cc;
                right: 22px;
                top: 32px;
                position: absolute;
                transform: rotate(-51deg);
              }
            }
          }
          input#submit {
            background: #00b3cc;
            color: #fff;
            font-size: 17px;
            font-family: 'Raleway-Bold';
            width: 125px;
            display: flex;
            justify-content: center;
          }
          .jcf-file {
            display: inline-block;
            white-space: nowrap;
            position: relative;
            overflow: hidden;
            background: #fff;
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            @media screen and (max-width: 350px){
              max-width: 300px;
            }
            .jcf-real-element {
              position: absolute;
              font-size: 200px;
              height: 200px;
              margin: 0;
              right: 0;
              top: 0;
            }
            .jcf-fake-input {
              border: none;
              background: #F0F0F0;
              color: #AFAFAF;
              font-size: 15px;
              font-family: 'Raleway-Medium';
              width: 100%;
              margin: 10px auto;
              height: 41px;
              border-radius: 5px;
              padding: 0 11px;
              line-height: 41px;
              width: 72%;
              margin-right: 5px;
              span{
                @media screen and (max-width: 460px){
                  font-size: 12px;
                }
                @media screen and (max-width: 350px){
                  font-size: 10px;
                }
              }
            }
            .jcf-upload-button {
              border: none;
              background: #3c3c3c;
              border-radius: 5px;
              color: #fff;
              font-size: 15px;
              font-family: 'Raleway-Medium';
              text-align: center;
              padding: 0 4px;
              margin: 10px auto;
              height: 41px;
              line-height: 41px;
              width: 27%;
              span{
                @media screen and (max-width: 460px){
                  font-size: 12px;
                }
                @media screen and (max-width: 350px){
                  font-size: 10px;
                }
              }
            }
          }  
        }
      }
    }
  }
}

.swal2-popup .swal2-title{
  font-family: 'Raleway-Medium';
}
.swal2-popup #swal2-content {
  font-family: 'Raleway-Regular';
}


   