#miradas__header{
  display: flex;
  justify-content: flex-end;
  width: 95%;
  .header__redes{
    .content_redes{
      h5{
        margin-bottom: 6px;
        margin-top: 9px;
        font-family: 'Raleway-Regular';
        font-size: 12px;
      }
      .content_images{
        img{
          margin: 3px;
        }
      }
    }
  }
}
main{
  .content_logo{
    display: flex;
    justify-content: center;
    .img-profile{
      padding-bottom: 25px;
    }
  }
}
header {
  font-family: 'Raleway-Medium';
  width: 100%;
  height: 65px;
  z-index: 1 !important;
  background:#f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  nav {
    text-align: right;
    max-width: 570px;
    display: flex;justify-content: space-around;
    width: 100%;
    a {
      color: #000;
      padding-bottom: 10px; 
      font-size: 12px;
    }
    a#inicio{
      border-bottom: 3px solid #82BB3B;
    }
    a#programa{
      border-bottom: 3px solid #FFD63D;
    }
    a#ponentes{
      border-bottom: 3px solid#D8358B;
    }
    a#inscripcion{
      border-bottom: 3px solid #13B3CD;
    }
  }
}

.menu_top{
  top:2%;
  left:6%;
  position:fixed;
  width: 140px;
  height: 105px;
  z-index:3;
}
.menuJS{
  position:fixed;
  height:105px;
}

.navJS {
  text-align: right;
  width: 540px;

}
