/*! 
* @package IcoFont 
* @version 1.0.1 
* @author IcoFont https://icofont.com 
* @copyright Copyright (c) 2015 - 2019 IcoFont 
* @license - https://icofont.com/license/
*/

@font-face
{
 
  font-family: "IcoFont";
font-weight: normal;
font-style: "Regular";
src: url("../css/icofont.woff2") format("woff2"),
url("../css/icofont.woff") format("woff");
}

[class^="icofont-"], [class*=" icofont-"]
{
  font-family: 'IcoFont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.icofont-addons:before
{
  content: "\eea0";
}

.icofont-address-book:before
{
  content: "\eea1";
}

.icofont-adjust:before
{
  content: "\eea2";
}

.icofont-alarm:before
{
  content: "\eea3";
}

.icofont-anchor:before
{
  content: "\eea4";
}

.icofont-archive:before
{
  content: "\eea5";
}

.icofont-at:before
{
  content: "\eea6";
}

.icofont-attachment:before
{
  content: "\eea7";
}

.icofont-audio:before
{
  content: "\eea8";
}

.icofont-automation:before
{
  content: "\eea9";
}

.icofont-badge:before
{
  content: "\eeaa";
}

.icofont-bag-alt:before
{
  content: "\eeab";
}

.icofont-bag:before
{
  content: "\eeac";
}

.icofont-ban:before
{
  content: "\eead";
}

.icofont-bar-code:before
{
  content: "\eeae";
}

.icofont-bars:before
{
  content: "\eeaf";
}

.icofont-basket:before
{
  content: "\eeb0";
}

.icofont-battery-empty:before
{
  content: "\eeb1";
}

.icofont-battery-full:before
{
  content: "\eeb2";
}

.icofont-battery-half:before
{
  content: "\eeb3";
}

.icofont-battery-low:before
{
  content: "\eeb4";
}

.icofont-beaker:before
{
  content: "\eeb5";
}

.icofont-beard:before
{
  content: "\eeb6";
}

.icofont-bed:before
{
  content: "\eeb7";
}

.icofont-bell:before
{
  content: "\eeb8";
}

.icofont-beverage:before
{
  content: "\eeb9";
}

.icofont-bill:before
{
  content: "\eeba";
}

.icofont-bin:before
{
  content: "\eebb";
}

.icofont-binary:before
{
  content: "\eebc";
}

.icofont-binoculars:before
{
  content: "\eebd";
}

.icofont-bluetooth:before
{
  content: "\eebe";
}

.icofont-bomb:before
{
  content: "\eebf";
}

.icofont-book-mark:before
{
  content: "\eec0";
}

.icofont-box:before
{
  content: "\eec1";
}

.icofont-briefcase:before
{
  content: "\eec2";
}

.icofont-broken:before
{
  content: "\eec3";
}

.icofont-bucket:before
{
  content: "\eec4";
}

.icofont-bucket1:before
{
  content: "\eec5";
}

.icofont-bucket2:before
{
  content: "\eec6";
}

.icofont-bug:before
{
  content: "\eec7";
}

.icofont-building:before
{
  content: "\eec8";
}

.icofont-bulb-alt:before
{
  content: "\eec9";
}

.icofont-bullet:before
{
  content: "\eeca";
}

.icofont-bullhorn:before
{
  content: "\eecb";
}

.icofont-bullseye:before
{
  content: "\eecc";
}

.icofont-calendar:before
{
  content: "\eecd";
}

.icofont-camera-alt:before
{
  content: "\eece";
}

.icofont-camera:before
{
  content: "\eecf";
}

.icofont-card:before
{
  content: "\eed0";
}

.icofont-cart-alt:before
{
  content: "\eed1";
}

.icofont-cart:before
{
  content: "\eed2";
}

.icofont-cc:before
{
  content: "\eed3";
}

.icofont-charging:before
{
  content: "\eed4";
}

.icofont-chat:before
{
  content: "\eed5";
}

.icofont-check-alt:before
{
  content: "\eed6";
}

.icofont-check-circled:before
{
  content: "\eed7";
}

.icofont-check:before
{
  content: "\eed8";
}

.icofont-checked:before
{
  content: "\eed9";
}

.icofont-children-care:before
{
  content: "\eeda";
}

.icofont-clip:before
{
  content: "\eedb";
}

.icofont-clock-time:before
{
  content: "\eedc";
}

.icofont-close-circled:before
{
  content: "\eedd";
}

.icofont-close-line-circled:before
{
  content: "\eede";
}

.icofont-close-line-squared-alt:before
{
  content: "\eedf";
}

.icofont-close-line-squared:before
{
  content: "\eee0";
}

.icofont-close-line:before
{
  content: "\eee1";
}

.icofont-close-squared-alt:before
{
  content: "\eee2";
}

.icofont-close-squared:before
{
  content: "\eee3";
}

.icofont-close:before
{
  content: "\eee4";
}

.icofont-cloud-download:before
{
  content: "\eee5";
}

.icofont-cloud-refresh:before
{
  content: "\eee6";
}

.icofont-cloud-upload:before
{
  content: "\eee7";
}

.icofont-cloud:before
{
  content: "\eee8";
}

.icofont-code-not-allowed:before
{
  content: "\eee9";
}

.icofont-code:before
{
  content: "\eeea";
}

.icofont-comment:before
{
  content: "\eeeb";
}

.icofont-compass-alt:before
{
  content: "\eeec";
}

.icofont-compass:before
{
  content: "\eeed";
}

.icofont-computer:before
{
  content: "\eeee";
}

.icofont-connection:before
{
  content: "\eeef";
}

.icofont-console:before
{
  content: "\eef0";
}

.icofont-contacts:before
{
  content: "\eef1";
}

.icofont-contrast:before
{
  content: "\eef2";
}

.icofont-copyright:before
{
  content: "\eef3";
}

.icofont-credit-card:before
{
  content: "\eef4";
}

.icofont-crop:before
{
  content: "\eef5";
}

.icofont-crown:before
{
  content: "\eef6";
}

.icofont-cube:before
{
  content: "\eef7";
}

.icofont-cubes:before
{
  content: "\eef8";
}

.icofont-dashboard-web:before
{
  content: "\eef9";
}

.icofont-dashboard:before
{
  content: "\eefa";
}

.icofont-data:before
{
  content: "\eefb";
}

.icofont-database-add:before
{
  content: "\eefc";
}

.icofont-database-locked:before
{
  content: "\eefd";
}

.icofont-database-remove:before
{
  content: "\eefe";
}

.icofont-database:before
{
  content: "\eeff";
}

.icofont-delete:before
{
  content: "\ef00";
}

.icofont-diamond:before
{
  content: "\ef01";
}

.icofont-dice-multiple:before
{
  content: "\ef02";
}

.icofont-dice:before
{
  content: "\ef03";
}

.icofont-disc:before
{
  content: "\ef04";
}

.icofont-diskette:before
{
  content: "\ef05";
}

.icofont-document-folder:before
{
  content: "\ef06";
}

.icofont-download-alt:before
{
  content: "\ef07";
}

.icofont-download:before
{
  content: "\ef08";
}

.icofont-downloaded:before
{
  content: "\ef09";
}

.icofont-drag:before
{
  content: "\ef0a";
}

.icofont-drag1:before
{
  content: "\ef0b";
}

.icofont-drag2:before
{
  content: "\ef0c";
}

.icofont-drag3:before
{
  content: "\ef0d";
}

.icofont-earth:before
{
  content: "\ef0e";
}

.icofont-ebook:before
{
  content: "\ef0f";
}

.icofont-edit:before
{
  content: "\ef10";
}

.icofont-eject:before
{
  content: "\ef11";
}

.icofont-email:before
{
  content: "\ef12";
}

.icofont-envelope-open:before
{
  content: "\ef13";
}

.icofont-envelope:before
{
  content: "\ef14";
}

.icofont-eraser:before
{
  content: "\ef15";
}

.icofont-error:before
{
  content: "\ef16";
}

.icofont-excavator:before
{
  content: "\ef17";
}

.icofont-exchange:before
{
  content: "\ef18";
}

.icofont-exclamation-circle:before
{
  content: "\ef19";
}

.icofont-exclamation-square:before
{
  content: "\ef1a";
}

.icofont-exclamation-tringle:before
{
  content: "\ef1b";
}

.icofont-exclamation:before
{
  content: "\ef1c";
}

.icofont-exit:before
{
  content: "\ef1d";
}

.icofont-expand:before
{
  content: "\ef1e";
}

.icofont-external-link:before
{
  content: "\ef1f";
}

.icofont-external:before
{
  content: "\ef20";
}

.icofont-eye-alt:before
{
  content: "\ef21";
}

.icofont-eye-blocked:before
{
  content: "\ef22";
}

.icofont-eye-dropper:before
{
  content: "\ef23";
}

.icofont-eye:before
{
  content: "\ef24";
}

.icofont-favourite:before
{
  content: "\ef25";
}

.icofont-fax:before
{
  content: "\ef26";
}

.icofont-file-fill:before
{
  content: "\ef27";
}

.icofont-film:before
{
  content: "\ef28";
}

.icofont-filter:before
{
  content: "\ef29";
}

.icofont-fire-alt:before
{
  content: "\ef2a";
}

.icofont-fire-burn:before
{
  content: "\ef2b";
}

.icofont-fire:before
{
  content: "\ef2c";
}

.icofont-flag-alt-1:before
{
  content: "\ef2d";
}

.icofont-flag-alt-2:before
{
  content: "\ef2e";
}

.icofont-flag:before
{
  content: "\ef2f";
}

.icofont-flame-torch:before
{
  content: "\ef30";
}

.icofont-flash-light:before
{
  content: "\ef31";
}

.icofont-flash:before
{
  content: "\ef32";
}

.icofont-flask:before
{
  content: "\ef33";
}

.icofont-focus:before
{
  content: "\ef34";
}

.icofont-folder-open:before
{
  content: "\ef35";
}

.icofont-folder:before
{
  content: "\ef36";
}

.icofont-foot-print:before
{
  content: "\ef37";
}

.icofont-garbage:before
{
  content: "\ef38";
}

.icofont-gear-alt:before
{
  content: "\ef39";
}

.icofont-gear:before
{
  content: "\ef3a";
}

.icofont-gears:before
{
  content: "\ef3b";
}

.icofont-gift:before
{
  content: "\ef3c";
}

.icofont-glass:before
{
  content: "\ef3d";
}

.icofont-globe:before
{
  content: "\ef3e";
}

.icofont-graffiti:before
{
  content: "\ef3f";
}

.icofont-grocery:before
{
  content: "\ef40";
}

.icofont-hand:before
{
  content: "\ef41";
}

.icofont-hanger:before
{
  content: "\ef42";
}

.icofont-hard-disk:before
{
  content: "\ef43";
}

.icofont-heart-alt:before
{
  content: "\ef44";
}

.icofont-heart:before
{
  content: "\ef45";
}

.icofont-history:before
{
  content: "\ef46";
}

.icofont-home:before
{
  content: "\ef47";
}

.icofont-horn:before
{
  content: "\ef48";
}

.icofont-hour-glass:before
{
  content: "\ef49";
}

.icofont-id:before
{
  content: "\ef4a";
}

.icofont-image:before
{
  content: "\ef4b";
}

.icofont-inbox:before
{
  content: "\ef4c";
}

.icofont-infinite:before
{
  content: "\ef4d";
}

.icofont-info-circle:before
{
  content: "\ef4e";
}

.icofont-info-square:before
{
  content: "\ef4f";
}

.icofont-info:before
{
  content: "\ef50";
}

.icofont-institution:before
{
  content: "\ef51";
}

.icofont-interface:before
{
  content: "\ef52";
}

.icofont-invisible:before
{
  content: "\ef53";
}

.icofont-jacket:before
{
  content: "\ef54";
}

.icofont-jar:before
{
  content: "\ef55";
}

.icofont-jewlery:before
{
  content: "\ef56";
}

.icofont-karate:before
{
  content: "\ef57";
}

.icofont-key-hole:before
{
  content: "\ef58";
}

.icofont-key:before
{
  content: "\ef59";
}

.icofont-label:before
{
  content: "\ef5a";
}

.icofont-lamp:before
{
  content: "\ef5b";
}

.icofont-layers:before
{
  content: "\ef5c";
}

.icofont-layout:before
{
  content: "\ef5d";
}

.icofont-leaf:before
{
  content: "\ef5e";
}

.icofont-leaflet:before
{
  content: "\ef5f";
}

.icofont-learn:before
{
  content: "\ef60";
}

.icofont-lego:before
{
  content: "\ef61";
}

.icofont-lens:before
{
  content: "\ef62";
}

.icofont-letter:before
{
  content: "\ef63";
}

.icofont-letterbox:before
{
  content: "\ef64";
}

.icofont-library:before
{
  content: "\ef65";
}

.icofont-license:before
{
  content: "\ef66";
}

.icofont-life-bouy:before
{
  content: "\ef67";
}

.icofont-life-buoy:before
{
  content: "\ef68";
}

.icofont-life-jacket:before
{
  content: "\ef69";
}

.icofont-life-ring:before
{
  content: "\ef6a";
}

.icofont-light-bulb:before
{
  content: "\ef6b";
}

.icofont-lighter:before
{
  content: "\ef6c";
}

.icofont-lightning-ray:before
{
  content: "\ef6d";
}

.icofont-like:before
{
  content: "\ef6e";
}

.icofont-line-height:before
{
  content: "\ef6f";
}

.icofont-link-alt:before
{
  content: "\ef70";
}

.icofont-link:before
{
  content: "\ef71";
}

.icofont-list:before
{
  content: "\ef72";
}

.icofont-listening:before
{
  content: "\ef73";
}

.icofont-listine-dots:before
{
  content: "\ef74";
}

.icofont-listing-box:before
{
  content: "\ef75";
}

.icofont-listing-number:before
{
  content: "\ef76";
}

.icofont-live-support:before
{
  content: "\ef77";
}

.icofont-location-arrow:before
{
  content: "\ef78";
}

.icofont-location-pin:before
{
  content: "\ef79";
}

.icofont-lock:before
{
  content: "\ef7a";
}

.icofont-login:before
{
  content: "\ef7b";
}

.icofont-logout:before
{
  content: "\ef7c";
}

.icofont-lollipop:before
{
  content: "\ef7d";
}

.icofont-long-drive:before
{
  content: "\ef7e";
}

.icofont-look:before
{
  content: "\ef7f";
}

.icofont-loop:before
{
  content: "\ef80";
}

.icofont-luggage:before
{
  content: "\ef81";
}

.icofont-lunch:before
{
  content: "\ef82";
}

.icofont-lungs:before
{
  content: "\ef83";
}

.icofont-magic-alt:before
{
  content: "\ef84";
}

.icofont-magic:before
{
  content: "\ef85";
}

.icofont-magnet:before
{
  content: "\ef86";
}

.icofont-mail-box:before
{
  content: "\ef87";
}

.icofont-mail:before
{
  content: "\ef88";
}

.icofont-male:before
{
  content: "\ef89";
}

.icofont-map-pins:before
{
  content: "\ef8a";
}

.icofont-map:before
{
  content: "\ef8b";
}

.icofont-maximize:before
{
  content: "\ef8c";
}

.icofont-measure:before
{
  content: "\ef8d";
}

.icofont-medicine:before
{
  content: "\ef8e";
}

.icofont-mega-phone:before
{
  content: "\ef8f";
}

.icofont-megaphone-alt:before
{
  content: "\ef90";
}

.icofont-megaphone:before
{
  content: "\ef91";
}

.icofont-memorial:before
{
  content: "\ef92";
}

.icofont-memory-card:before
{
  content: "\ef93";
}

.icofont-mic-mute:before
{
  content: "\ef94";
}

.icofont-mic:before
{
  content: "\ef95";
}

.icofont-military:before
{
  content: "\ef96";
}

.icofont-mill:before
{
  content: "\ef97";
}

.icofont-minus-circle:before
{
  content: "\ef98";
}

.icofont-minus-square:before
{
  content: "\ef99";
}

.icofont-minus:before
{
  content: "\ef9a";
}

.icofont-mobile-phone:before
{
  content: "\ef9b";
}

.icofont-molecule:before
{
  content: "\ef9c";
}

.icofont-money:before
{
  content: "\ef9d";
}

.icofont-moon:before
{
  content: "\ef9e";
}

.icofont-mop:before
{
  content: "\ef9f";
}

.icofont-muffin:before
{
  content: "\efa0";
}

.icofont-mustache:before
{
  content: "\efa1";
}

.icofont-navigation-menu:before
{
  content: "\efa2";
}

.icofont-navigation:before
{
  content: "\efa3";
}

.icofont-network-tower:before
{
  content: "\efa4";
}

.icofont-network:before
{
  content: "\efa5";
}

.icofont-news:before
{
  content: "\efa6";
}

.icofont-newspaper:before
{
  content: "\efa7";
}

.icofont-no-smoking:before
{
  content: "\efa8";
}

.icofont-not-allowed:before
{
  content: "\efa9";
}

.icofont-notebook:before
{
  content: "\efaa";
}

.icofont-notepad:before
{
  content: "\efab";
}

.icofont-notification:before
{
  content: "\efac";
}

.icofont-numbered:before
{
  content: "\efad";
}

.icofont-opposite:before
{
  content: "\efae";
}

.icofont-optic:before
{
  content: "\efaf";
}

.icofont-options:before
{
  content: "\efb0";
}

.icofont-package:before
{
  content: "\efb1";
}

.icofont-page:before
{
  content: "\efb2";
}

.icofont-paint:before
{
  content: "\efb3";
}

.icofont-paper-plane:before
{
  content: "\efb4";
}

.icofont-paperclip:before
{
  content: "\efb5";
}

.icofont-papers:before
{
  content: "\efb6";
}

.icofont-pay:before
{
  content: "\efb7";
}

.icofont-penguin-linux:before
{
  content: "\efb8";
}

.icofont-pestle:before
{
  content: "\efb9";
}

.icofont-phone-circle:before
{
  content: "\efba";
}

.icofont-phone:before
{
  content: "\efbb";
}

.icofont-picture:before
{
  content: "\efbc";
}

.icofont-pine:before
{
  content: "\efbd";
}

.icofont-pixels:before
{
  content: "\efbe";
}

.icofont-plugin:before
{
  content: "\efbf";
}

.icofont-plus-circle:before
{
  content: "\efc0";
}

.icofont-plus-square:before
{
  content: "\efc1";
}

.icofont-plus:before
{
  content: "\efc2";
}

.icofont-polygonal:before
{
  content: "\efc3";
}

.icofont-power:before
{
  content: "\efc4";
}

.icofont-price:before
{
  content: "\efc5";
}

.icofont-print:before
{
  content: "\efc6";
}

.icofont-puzzle:before
{
  content: "\efc7";
}

.icofont-qr-code:before
{
  content: "\efc8";
}

.icofont-queen:before
{
  content: "\efc9";
}

.icofont-question-circle:before
{
  content: "\efca";
}

.icofont-question-square:before
{
  content: "\efcb";
}

.icofont-question:before
{
  content: "\efcc";
}

.icofont-quote-left:before
{
  content: "\efcd";
}

.icofont-quote-right:before
{
  content: "\efce";
}

.icofont-random:before
{
  content: "\efcf";
}

.icofont-recycle:before
{
  content: "\efd0";
}

.icofont-refresh:before
{
  content: "\efd1";
}

.icofont-repair:before
{
  content: "\efd2";
}

.icofont-reply-all:before
{
  content: "\efd3";
}

.icofont-reply:before
{
  content: "\efd4";
}

.icofont-resize:before
{
  content: "\efd5";
}

.icofont-responsive:before
{
  content: "\efd6";
}

.icofont-retweet:before
{
  content: "\efd7";
}

.icofont-road:before
{
  content: "\efd8";
}

.icofont-robot:before
{
  content: "\efd9";
}

.icofont-royal:before
{
  content: "\efda";
}

.icofont-rss-feed:before
{
  content: "\efdb";
}

.icofont-safety:before
{
  content: "\efdc";
}

.icofont-sale-discount:before
{
  content: "\efdd";
}

.icofont-satellite:before
{
  content: "\efde";
}

.icofont-send-mail:before
{
  content: "\efdf";
}

.icofont-server:before
{
  content: "\efe0";
}

.icofont-settings-alt:before
{
  content: "\efe1";
}

.icofont-settings:before
{
  content: "\efe2";
}

.icofont-share-alt:before
{
  content: "\efe3";
}

.icofont-share-boxed:before
{
  content: "\efe4";
}

.icofont-share:before
{
  content: "\efe5";
}

.icofont-shield:before
{
  content: "\efe6";
}

.icofont-shopping-cart:before
{
  content: "\efe7";
}

.icofont-sign-in:before
{
  content: "\efe8";
}

.icofont-sign-out:before
{
  content: "\efe9";
}

.icofont-signal:before
{
  content: "\efea";
}

.icofont-site-map:before
{
  content: "\efeb";
}

.icofont-smart-phone:before
{
  content: "\efec";
}

.icofont-soccer:before
{
  content: "\efed";
}

.icofont-sort-alt:before
{
  content: "\efee";
}

.icofont-sort:before
{
  content: "\efef";
}

.icofont-space:before
{
  content: "\eff0";
}

.icofont-spanner:before
{
  content: "\eff1";
}

.icofont-speech-comments:before
{
  content: "\eff2";
}

.icofont-speed-meter:before
{
  content: "\eff3";
}

.icofont-spinner-alt-1:before
{
  content: "\eff4";
}

.icofont-spinner-alt-2:before
{
  content: "\eff5";
}

.icofont-spinner-alt-3:before
{
  content: "\eff6";
}

.icofont-spinner-alt-4:before
{
  content: "\eff7";
}

.icofont-spinner-alt-5:before
{
  content: "\eff8";
}

.icofont-spinner-alt-6:before
{
  content: "\eff9";
}

.icofont-spinner:before
{
  content: "\effa";
}

.icofont-spreadsheet:before
{
  content: "\effb";
}

.icofont-square:before
{
  content: "\effc";
}

.icofont-ssl-security:before
{
  content: "\effd";
}

.icofont-star-alt-1:before
{
  content: "\effe";
}

.icofont-star-alt-2:before
{
  content: "\efff";
}

.icofont-star:before
{
  content: "\f000";
}

.icofont-street-view:before
{
  content: "\f001";
}

.icofont-support-faq:before
{
  content: "\f002";
}

.icofont-tack-pin:before
{
  content: "\f003";
}

.icofont-tag:before
{
  content: "\f004";
}

.icofont-tags:before
{
  content: "\f005";
}

.icofont-tasks-alt:before
{
  content: "\f006";
}

.icofont-tasks:before
{
  content: "\f007";
}

.icofont-telephone:before
{
  content: "\f008";
}

.icofont-telescope:before
{
  content: "\f009";
}

.icofont-terminal:before
{
  content: "\f00a";
}

.icofont-thumbs-down:before
{
  content: "\f00b";
}

.icofont-thumbs-up:before
{
  content: "\f00c";
}

.icofont-tick-boxed:before
{
  content: "\f00d";
}

.icofont-tick-mark:before
{
  content: "\f00e";
}

.icofont-ticket:before
{
  content: "\f00f";
}

.icofont-tie:before
{
  content: "\f010";
}

.icofont-toggle-off:before
{
  content: "\f011";
}

.icofont-toggle-on:before
{
  content: "\f012";
}

.icofont-tools-alt-2:before
{
  content: "\f013";
}

.icofont-tools:before
{
  content: "\f014";
}

.icofont-touch:before
{
  content: "\f015";
}

.icofont-traffic-light:before
{
  content: "\f016";
}

.icofont-transparent:before
{
  content: "\f017";
}

.icofont-tree:before
{
  content: "\f018";
}

.icofont-unique-idea:before
{
  content: "\f019";
}

.icofont-unlock:before
{
  content: "\f01a";
}

.icofont-unlocked:before
{
  content: "\f01b";
}

.icofont-upload-alt:before
{
  content: "\f01c";
}

.icofont-upload:before
{
  content: "\f01d";
}

.icofont-usb-drive:before
{
  content: "\f01e";
}

.icofont-usb:before
{
  content: "\f01f";
}

.icofont-vector-path:before
{
  content: "\f020";
}

.icofont-verification-check:before
{
  content: "\f021";
}

.icofont-wall-clock:before
{
  content: "\f022";
}

.icofont-wall:before
{
  content: "\f023";
}

.icofont-wallet:before
{
  content: "\f024";
}

.icofont-warning-alt:before
{
  content: "\f025";
}

.icofont-warning:before
{
  content: "\f026";
}

.icofont-water-drop:before
{
  content: "\f027";
}

.icofont-web:before
{
  content: "\f028";
}

.icofont-wheelchair:before
{
  content: "\f029";
}

.icofont-wifi-alt:before
{
  content: "\f02a";
}

.icofont-wifi:before
{
  content: "\f02b";
}

.icofont-world:before
{
  content: "\f02c";
}

.icofont-zigzag:before
{
  content: "\f02d";
}

.icofont-zipped:before
{
  content: "\f02e";
}

.icofont-xs
{
  font-size: .5em;
}

.icofont-sm
{
  font-size: .75em;
}

.icofont-md
{
  font-size: 1.25em;
}

.icofont-lg
{
  font-size: 1.5em;
}

.icofont-1x
{
  font-size: 1em;
}

.icofont-2x
{
  font-size: 2em;
}

.icofont-3x
{
  font-size: 3em;
}

.icofont-4x
{
  font-size: 4em;
}

.icofont-5x
{
  font-size: 5em;
}

.icofont-6x
{
  font-size: 6em;
}

.icofont-7x
{
  font-size: 7em;
}

.icofont-8x
{
  font-size: 8em;
}

.icofont-9x
{
  font-size: 9em;
}

.icofont-10x
{
  font-size: 10em;
}

.icofont-fw
{
  text-align: center;
  width: 1.25em;
}

.icofont-ul
{
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.icofont-ul > li
{
  position: relative;
  line-height: 2em;
}

.icofont-ul > li .icofont
{
  display: inline-block;
  vertical-align: middle;
}

.icofont-border
{
  border: solid 0.08em #f1f1f1;
  border-radius: .1em;
  padding: .2em .25em .15em;
}

.icofont-pull-left
{
  float: left;
}

.icofont-pull-right
{
  float: right;
}

.icofont.icofont-pull-left
{
  margin-right: .3em;
}

.icofont.icofont-pull-right
{
  margin-left: .3em;
}

.icofont-spin
{
  -webkit-animation: icofont-spin 2s infinite linear;
  animation: icofont-spin 2s infinite linear;
  display: inline-block;
}

.icofont-pulse
{
  -webkit-animation: icofont-spin 1s infinite steps(8);
  animation: icofont-spin 1s infinite steps(8);
  display: inline-block;
}

@-webkit-keyframes icofont-spin
{
  0%
  {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100%
  {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes icofont-spin
{
  0%
  {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100%
  {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.icofont-rotate-90
{
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.icofont-rotate-180
{
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.icofont-rotate-270
{
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.icofont-flip-horizontal
{
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.icofont-flip-vertical
{
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);
}

.icofont-flip-horizontal.icofont-flip-vertical
{
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

:root .icofont-rotate-90,
	:root .icofont-rotate-180,
	:root .icofont-rotate-270,
	:root .icofont-flip-horizontal,
	:root .icofont-flip-vertical
{
  -webkit-filter: none;
  filter: none;
  display: inline-block;
}

.icofont-inverse
{
  color: #fff;
}

.sr-only
{
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.sr-only-focusable:active,
	.sr-only-focusable:focus
{
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
	