#container_logo{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  .content_logo{
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 { 
      font-size: 15px;
      color: #252525;
      font-family: 'Raleway-Medium';
    }
    .organizes, .support, .auspice{
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      align-items: center;
      width: 100%;
      padding: 25px 0;
      img{
        @media screen and (max-width: 520px){
          margin: 15px auto;
        }
      }
    }
    .organizes{
      justify-content: center;
      @media screen and (max-width: 820px){
        justify-content: space-around;
        width: 80%;
      }
      @media screen and (max-width: 520px){
        flex-direction: column;
        width: 100%;
      }
    }
    .support{
      justify-content: space-around;
      width: 55%;
      @media screen and (max-width: 820px){
        justify-content: space-around;
        width: 80%;
      }
      @media screen and (max-width: 520px){
        flex-direction: column;
        width: 100%;
      }
    }
    .auspice{
      @media screen and (max-width: 820px){
        max-width: 560px;
        flex-wrap: wrap;
      }
      @media screen and (max-width: 560px){
        max-width: 257px;
        flex-wrap: wrap;
      }
    }
  }
}






