#container_schedule{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 860px){
    max-width: 520px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  h3{
    font-size: 20px;
    color: #19BAD1;
    font-family: 'Raleway-Bold';
    text-align: center;
    padding: 35px 0;
  }
  .content_schedule {
    display: flex;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
    flex-direction: column;
    p.title{
      color: #141414;
      font-family: 'Raleway-Regular';
      font-size: 20px;
      font-weight: 600;
      margin-left: 15px;
      margin-right: 15px;
    }
    p.subtitle-schedule{
      font-size: 18px;
      color: #141414;
      font-family: 'Raleway-Italic';
      padding-bottom: 10px;
      border-bottom: 1px solid #999999;
      margin-bottom: 20px;
      margin-right: 15px;
      margin-left: 15px;
    }
    .content_info{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-end;
      .line{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img{
          width: 100%;
        }
      }
      .description{
        border-left: 2.3px solid #13b3cd;
        display: flex;
        flex-direction: column;
        max-width: 550px;
        padding: 0 22px;
        @media screen and (max-width: 860px){
          width: 100%;
          max-width: 320px;      
        }
        @media screen and (max-width: 420px){
          width: 66%;
          max-width: none;      
        }
        .hour1{
          &:before{
            content: "7:30 - 8:30";
          }
        }
        .hour2{
          &:before{
            content: "8:30 – 9:00";
          }
        }
        .hour3{
          &:before{
            content: "9:00 – 11:00";
          }
        }
        .hour4{
          &:before{
            content: "11:00 – 11:30";
          }
        }
        .hour5{
          &:before{
            content: "11:30 – 13:00";
          }
        }
        .hour6{
          &:before{
            content: "13:00 – 14:30 ";
          }
        }
        .hour7{
          &:before{
            content: "14:30 – 16:00";
          }
        }
        .hour8{
          &:before{
            content: "16:00 – 16:50";
          }
        }
        .hour9{
          &:before{
            content: "16:00 – 17:30";
          }
        }
        .hour10{
          &:before{
            content: "17:30 – 18:00";
          }
        }
        .hour11{
          &:before{
            content: "12:00 – 14:00";
          }
        }
        .hour12{
          &:before{
            content: "14:00 – 17:00";
          }
        }
        .column{
          position: relative;
          margin: 10px 0;
          &:before{
            padding: 3px;
            border-radius: 100%;
            position: absolute;
            left: -113px;
            font-size: 12px;
            font-family: 'Raleway-SemiBold';
            color: #000;
          }
          h5{
            font-size: 12px;
            font-family: 'Raleway-Bold';
            color: #141414;
            margin: 0;
            &:before{
              content: "";
              vertical-align: top;
              padding: 3px;
              background: #13b3cd;
              border-radius: 100%;
              position: absolute;
              left: -26px;
              top: 5px;
            }
          }
          .content_description{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0 30px;
            @media screen and (max-width: 420px){
              padding: 0 0 0 10px;    
            }
            .title{
              font-size: 12px;
              font-family: 'Raleway-Bold';
              padding: 4px 0;
              font-weight: 600;
            }
            p.subtitle{
              padding: 0 20px;
              font-size: 11px;
              font-family: 'Raleway-Regular';
              font-weight: 600;
              @media screen and (max-width: 420px){
                padding: 0 0 0 20px;    
              }
            }
            h4.titlet{
              font-size: 12px;
              font-family: 'Raleway-Regular';
              font-weight: 600;
              padding: 4px 0;
              &:before {
                content: '•';
                position: absolute;
                width: 10px;
                left: 20px;
                @media screen and (max-width: 420px){
                  left: 1px;
                }
              }
            }
            h6{
              font-size: 12px;
              font-family: 'Raleway-Regular';
              font-weight: 600;
              text-align: right;
              margin: 5px 0 10px;
              width: 100%;
            }
            
            .text{
              p{
                font-size: 12px;
                font-family: 'Raleway-Regular';
                color:#141414;   
                font-weight: 600;  
                padding-left: 15px;   
                &:before {
                  content: '-';
                  position: absolute;
                  width: 12px;
                  left: 35px;
                  @media screen and (max-width: 420px){
                    left: 14px;  
                  }
                }
              }
            }
          }
        }
      }
    }
  }
} 
