#container_speakers{
  background: #FAFAFA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  h3{
    font-size: 20px;
    color: #19BAD1;
    font-family: 'Raleway-Bold';
    text-align: center;
    padding: 35px 0;
  }
  .content_speakers{
    max-width: 890px;
    margin: 0 auto;
    .slick-carousel{
      margin: 0 auto;
      width: 890px;
      height: 320px;
      @media screen and (max-width: 960px){
        width: 600px;
      }  
      @media screen and (max-width: 640px){
        width: 320px;
      }
      @media screen and (max-width: 375px){
        width: 300px;
      }
      .slick-list{
        max-width: 735px;
        margin: 0 auto;
      }
      .slick-dots li {
        width: 15px;
      }
      .slide-content{
        .speakers{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin: 0 auto;
          text-align: center;
          article{
            padding: 15px 0;
            max-width: 180px;
            h3{
              font-size: 18px;
              font-family: 'Raleway-Medium';
              color: #252525;
              padding: 0 0 10px;
             }
            p{
              font-size: 13px;
              font-family: 'Raleway-Regular';
              color: #252525;
            }
          }
        }
      }
      .slick-slide{
        outline: none;
      }
    }
  }
  .content_download{
    padding: 30px 0;
    box-sizing: border-box;
    @media screen and (max-width: 640px){
      margin: 20px 0;
    }
    
    .download{ 
      background: #00B3CC;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      padding: 8px 13px;
      border-radius: 10px;
      width: 182px;
      margin: 0 auto;
      a{
        font-size: 20px;
        font-family: 'Raleway-Bold';
        color: #fff;
        padding: 0 0 0 10px;
        p{
          font-size: 8px;
          font-family: 'Raleway-Regular';
          padding: 0 5px;
        }
      }
    } 
  }
}
img.arrow_left {
  position: absolute;
  top: 35%;
  left: 0;
  @media screen and (max-width: 375px){
    width: 3%;
  }
}
img.arrow_right{
  position: absolute;
  top: 35%;
  right: 0;
  @media screen and (max-width: 375px){
    width: 3%;
  }
}

.slick-dots li button:before {
  width: 15px;
  font-size: 45px;
}
