
extends extends/base

block identify
    input#identify(type="hidden", data-controller="home", data-action="")

block content

    include includes/header
    include includes/banner
    include includes/schedule
    include includes/speakers
    include includes/enroll
    include includes/form
    include includes/logo
    include includes/footer

block bottom

    //- include includes/footer

